@import "../../scss";

.container {
  @extend .container;
  text-align: start;
}

.form {
  margin: 0 auto;
  max-width: 520px;
  text-align: center;

  @include lg {
    max-width: 720px;
  }
}

.input_group_wrapper {
  display: flex;
  flex-direction: column;

  @include sm {
    flex-direction: row;
    gap: 12px;
  }
}

.input_wrapper {
  text-align: start;
  margin-bottom: 12px;
}

.input_inner_wrapper {
  @extend .input_wrapper;
  // display: flex;
  flex-basis: 50%;
}

.label {
  position: relative;
  display: inline-block;
  margin-bottom: 4px;
  padding-inline-end: 8px;
  color: #6f8bc2;
  font-size: 16px;
  font-weight: $boldFont;

  &:after {
    content: "*";
    position: absolute;
    top: 0;
    [dir="rtl"] & {
      left: 0;
      right: unset;
    }
    [dir="ltr"] & {
      right: 0;
      left: unset;
    }
    color: $accentColor;
  }
}

.input {
  display: block;
  width: 100%;
  padding: 8px 16px;
  text-align: start;
  border-radius: 4px;
  border: none;
  outline: none;
  background-color: $whiteColor;
  box-shadow: $shadow;
}

.descr {
  margin-top: 4px;
  color: $secondaryFontColor;
  font-size: 14px;
}

.button {
  display: inline-block;
  margin-top: 16px;
  padding: 8px 24px;
  border-radius: 4px;
  box-shadow: $shadow;
  color: $whiteColor;
  background-color: #00adef;
  font-size: 16px;
  font-weight: $boldFont;

  &:hover,
  &:focus {
    scale: 110%;
    box-shadow: $shadowDark;
  }
}
