@import "../../scss";

.section {
  @extend .section;
}

.container {
  @extend .container;
  @extend .flex_aligncenter;
  flex-direction: column;
  gap: 16px;

  @include md {
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
  }
}

.wrapper {
  max-width: 768px;
  width: 100%;
}

.cart_button {
  position: fixed;
  top: 70%;
  right: 5%;
  z-index: 2;
  display: block;
  padding: 12px;
  background-color: $lightGreyBgColor;
  border: 2px solid $redCategoryAccent;
  border-radius: 50%;

  transition: all 0.4s ease;

  &:hover,
  &:focus {
    scale: 140%;
    & .cart_icon {
      scale: 120%;
      fill: $redCategoryAccent;
    }
  }
}

.cart_icon {
  display: block;
  width: 32px;
  height: 32px;
  fill: $secondaryFontColor;

  transition: all 0.4s ease;
}
