@import "../../scss";

.section {
  @extend .section;
}

.container {
  @extend .container;
  @extend .flex_aligncenter;
  flex-direction: column;
  gap: 16px;

  @include md {
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;
  }
}

.wrapper {
  max-width: 768px;
  width: 100%;
}

.cart_button {
  margin-bottom: 8px;
  transition: all 0.4s ease;

  &:hover,
  &:focus {
    & .cart_icon {
      scale: 120%;
      fill: $redCategoryAccent;
    }
  }
}

.cart_icon {
  width: 24px;
  height: 24px;
  fill: $secondaryFontColor;

  transition: all 0.4s ease;
}
