@import "../../../scss";

.section {
  @extend .section;
  flex-grow: 1;

  background: url("../../../assets/images/home/hero/triangle-blue_sm.webp") 0%
      0% no-repeat,
    url("../../../assets/images/home/hero/triangle-green_sm.webp") 90% 20%
      no-repeat,
    url("../../../assets/images/home/hero/triangle-green-little_sm.webp") 40%
      70% no-repeat,
    url("../../../assets/images/home/hero/triangle-rose_sm.webp") 95% 95%
      no-repeat,
    $lightGreyBgColor;

  background-size: auto, auto, auto, auto;

  @include sm {
    background: url("../../../assets/images/home/hero/triangle-blue-big_md.webp")
        10% 20% no-repeat,
      url("../../../assets/images/home/hero/triangle-blue_sm.webp") 40% 95%
        no-repeat,
      url("../../../assets/images/home/hero/triangle-green_sm.webp") 85% 10%
        no-repeat,
      url("../../../assets/images/home/hero/triangle-green-little_sm.webp") 65%
        50% no-repeat,
      url("../../../assets/images/home/hero/triangle-rose_sm.webp") 95% 95%
        no-repeat,
      $lightGreyBgColor;

    background-size: 240px, auto, auto, auto, auto;
  }

  @include md {
    background: url("../../../assets/images/home/hero/triangle-blue-big_lg.webp")
        120% 100% no-repeat,
      url("../../../assets/images/home/hero/triangle-blue_lg.webp") 5% 10%
        no-repeat,
      url("../../../assets/images/home/hero/triangle-green_lg.webp") 90% 25%
        no-repeat,
      url("../../../assets/images/home/hero/triangle-green-little_lg.webp") 25%
        90% no-repeat,
      url("../../../assets/images/home/hero/triangle-rose_lg.webp") 75% 80%
        no-repeat,
      $lightGreyBgColor;

    background-size: 240px, auto, auto, auto, auto;
  }
}
