@import "../../../../scss";

.list {
  display: flex;
  align-items: center;
  gap: 16px;

  @include lg {
    justify-content: space-between;
    gap: 0;
  }
}

.item {
  @extend .flex_aligncenter;
  color: $whiteColor;

  transition: all 0.4s ease;

  @include lg {
    padding: 0 16px;
  }
  &:hover,
  &:focus {
    scale: 110%;
  }
}

.icon {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  fill: $whiteColor;

  transition: all 0.4s ease;
}

.button_icon {
  @extend .flex_aligncenter;
  padding: 0;
  color: $whiteColor;
  background-color: transparent;
}
