@import "../../scss";

.container {
  @extend .container;
  padding: 12px 0;
  text-align: center;
}

.descr {
  margin-bottom: 16px;
  text-align: center;
  font-size: 18px;
  font-weight: $boldFont;

  @include md {
    font-size: 24px;
  }
}

.button {
  display: inline-block;

  padding: 8px 16px;
  color: $whiteColor;
  background-color: $accentColor;
  text-align: center;
  font-size: 16px;
  font-weight: $boldFont;

  transition: all 0.4s ease;

  &:hover,
  &:focus {
    scale: 110%;
    box-shadow: $shadow;
  }
}
