@import "../../../../scss";

.form {
  position: absolute;
  top: 0;
  [dir="ltr"] & {
    right: 0;
  }
  [dir="rtl"] & {
    left: 0;
  }
  transform: translateY(-20%);

  width: 50px;
  height: 50px;
  z-index: 2;

  transition: $transition;

  @include lg {
    position: relative;
    right: unset;
    left: unset;
    transform: translateY(0);
  }

  &:hover,
  &:focus {
    scale: 110%;
  }
}

.active {
  width: 100%;

  @include md {
    width: 50vw;
  }

  @include lg {
    width: 30vw;
  }

  & .search_button::before {
    left: 0;
  }

  &:hover,
  &:focus {
    scale: 100%;
  }
}

.search_button {
  position: absolute;
  top: 0;
  [dir="ltr"] & {
    right: 0;
  }
  [dir="rtl"] & {
    left: 0;
  }

  z-index: 10;
  width: 50px;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: $greenBgButtonBgColor;
  color: $whiteColor;
  font-size: 18px;

  transition: $transition;

  @include lg {
    top: 50%;
    transform: translateY(-50%);
  }

  & i {
    transition: $transition;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid $greenBgButtonBgColor;
    transition: $transition;
  }

  &:hover,
  &:focus {
    & i {
      scale: 120%;
    }
    &:before {
      left: 0;
    }
  }
}

.input {
  width: 100%;
  height: 50px;
  padding: 12px 40px;

  outline: none;
  border: none;
  border-radius: 25px;
  background-color: $greenBgButtonBgColor;
  color: white;
  font-size: 20px;

  transition: $transition;
}

.close_button {
  position: absolute;
  top: 50%;
  [dir="ltr"] & {
    left: 0;
    transform: translate(50%, -50%);
  }
  [dir="rtl"] & {
    right: 0;
    transform: translate(-50%, -50%);
  }
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;
  color: $whiteColor;
  font-size: 18px;

  transition: $transition;

  &:hover,
  &:focus {
    & .close_icon {
      scale: 120%;
    }
  }
}

.close_icon {
  width: 24px;
  height: 24px;
  stroke: $whiteColor;

  transition: $transition;
}
