@import "../../../../scss";

.show_more_button {
  @extend .flex_aligncenter;
  gap: 4px;
  margin: 0 auto 8px auto;
  color: $paleWhiteColor;
  font-size: 10px;
  font-weight: $boldFont;

  transition: $transition;

  @include md {
    display: none;
  }

  &:hover,
  &:focus {
    color: $whiteColor;
    scale: 110%;

    .icon {
      stroke: $whiteColor;
      scale: 110%;
    }
  }
}

.icon {
  width: 20px;
  height: 20px;
  fill: $paleWhiteColor;

  transition: $transition;

  @include md {
    width: 24px;
    height: 24px;
  }
}

.show_more_icon {
  @extend .icon;
  stroke: $paleWhiteColor;
  fill: none;
}

.hide_more_icon {
  @extend .show_more_icon;
  transform: scale(1, -1);
}
