.heading {
  text-align: center;
  font-size: 22px;
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;

  @include sm {
    max-width: 400px;
    font-size: 24px;
  }

  @include md {
    font-size: 26px;
  }

  @include lg {
    font-size: 28px;
  }

  @include xl {
    font-size: 30px;
  }
}
