.section {
  padding: 12px 0;
  text-align: center;

  @include sm {
    padding: 16px 0;
  }

  @include md {
    padding: 20px 0;
  }

  @include lg {
    padding: 24px 0;
  }

  @include xl {
    padding: 28px 0;
  }
}
