@import "../../scss";

.section {
  @extend .section;
}

.container {
  @extend .container;
  text-align: center;
}

.list {
  display: flex;
  align-items: baseline;

  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  color: $whiteColor;
}
