@import "../../scss";

.section {
  @extend .section;
}

.container {
  @extend .container;
}

.heading {
  @extend .heading;
  margin-bottom: 12px;
}

.list {
  @extend .flex_aligncenter;
  flex-direction: column;
  justify-content: center;
  gap: 12px;

  @include md {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
    row-gap: 12px;
  }
}

.item {
  @extend .flex_aligncenter;
  gap: 16px;
  text-align: start;

  &:nth-child(odd) {
    flex-direction: row-reverse;
    gap: 8px;

    @include md {
      flex-direction: row;
      // gap: 24px;
    }
  }

  @include sm {
    padding: 16px;
    max-width: 500px;
  }

  @include md {
    padding: 8px;
    flex-basis: 50%;
    gap: 8px;
  }

  @include lg {
    padding: 16px;
    flex-basis: 40%;
    justify-content: space-around;
  }

  &:hover,
  &:focus {
    span {
      scale: 110%;
      box-shadow: $shadow;

      &::before {
        left: 0;
      }
    }
  }
}

.item_heading {
  margin-bottom: 4px;
  font-size: 14px;

  @include md {
    font-size: 16px;
  }
}

.descr {
  color: $secondaryFontColor;

  font-size: 12px;

  @include md {
    font-size: 14px;
  }
}

.icon {
  @include md {
    margin-inline-end: 30px;
  }

  span {
    position: relative;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    font-style: italic;
    color: $whiteColor;
    line-height: 60px;

    transition: all 0.4s ease;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -8px;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transition: all 0.4s ease;
      transition: all 0.4s ease;
    }
  }
}

.icon_1 {
  @extend .icon;

  span {
    background-color: #1888c9;
    &::before {
      border: 2px solid #1888c9;
    }
  }
}

.icon_2 {
  @extend .icon;

  span {
    background-color: $accentColor;
    &::before {
      border: 2px solid $accentColor;
    }
  }
}

.icon_3 {
  @extend .icon;

  span {
    background-color: $greenBgButtonBgColor;
    &::before {
      border: 2px solid $greenBgButtonBgColor;
    }
  }
}

.icon_4 {
  @extend .icon;

  span {
    background-color: $fioletBgButtonColor;
    &::before {
      border: 2px solid $fioletBgButtonColor;
    }
  }
}
