@import "../../scss";

// search section
.search_section {
  @extend .section;
  background-color: $lightGreyBgColor;
}

.search_container {
  @extend .container;
}

.form {
  @extend .flex_aligncenter;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;

  @include md {
    gap: 32px;
  }
}

.input_wrapper {
  position: relative;
}

.input_icon {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  stroke: $darkFontColor;
  fill: $whiteColor;

  @include md {
    right: 16px;
  }
}

.input {
  min-width: 280px;
  padding: 8px 36px 8px 16px;
  border: 1px solid $paleWhiteColor;
  border-radius: 8px;
  text-align: end;

  transition: all 0.4s ease;

  @include md {
    padding: 16px 48px 16px 32px;
    min-width: 520px;
    font-size: 18px;
  }

  &:hover,
  &:focus {
    border: 1px solid $purpleBgButtonColor;
  }
}

.form_button {
  @extend .flex_aligncenter;
  justify-content: center;
  gap: 12px;
  padding: 8px 16px;
  color: $whiteColor;
  background-color: $purpleBgButtonColor;
  border-radius: 8px;
  font-size: 14px;

  transition: all 0.4s ease;

  @include md {
    padding: 16px 32px;
    font-size: 20px;
  }

  &:hover,
  &:focus {
    scale: 105%;
    box-shadow: $shadow;
    box-shadow: $shadowDark;
  }
}

.button_icon {
  width: 20px;
  height: 20px;
  fill: $whiteColor;
}

// filter section
.filter_section {
  @extend .section;
}

.filter_container {
  @extend .container;
}

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20%;

  gap: 12px;
  padding-bottom: 12px;
  border-bottom: 2px solid $lightGreyBgColor;
  text-align: right;
  font-weight: $boldFont;

  @include md {
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 32px;
    margin-right: 0;

    &::after {
      content: "";
      position: absolute;
      top: 36px;
      right: 50%;
      transform: translateX(50%);

      width: 85%;
      height: 2px;
      background-color: $lightGreyBgColor;
    }
  }

  @include lg {
    gap: 40px;

    &::after {
      width: 70%;
    }
  }
}

.item {
}

.empty_item {
  display: none;

  @include md {
    display: block;
  }
}

.item_heading {
  display: flex;
  margin-bottom: 8px;

  transition: all 0.4s ease;

  @include md {
    margin-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: $blueHoverColor;
    scale: 102%;

    .icon {
      fill: $blueHoverColor;
    }
  }
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: 12px;

  transition: all 0.4s ease;
}

.subcategories_list {
  color: $secondaryFontColor;
  font-size: 12px;
}

.subcategories_item {
  transition: all 0.4s ease;

  &:hover,
  &:focus {
    color: $blueHoverColor;
    scale: 102%;
  }
}

.subcategories_item:not(:last-child) {
  margin-bottom: 4px;

  @include md {
    margin-bottom: 8px;
  }
}

.subcategories_heading {
}
