// fonts
$font-family: "Tajawal", sans-serif;
$regularFont: 400;
$boldFont: 700;

// fonst colors
// $mainFontColor: #f16101;
$secondaryFontColor: #81868a;
$heroFontColor: #474646;
$whiteColor: #ffffff;
$accentColor: #f16101;
$darkFontColor: #012237;

// bg colors
$headerBgColor: #5e5ed6;
$heroBgColor: #fefefe;
$footerBgColor: #022c46;
$darkFooterBgColor: #012237;
$lightGreyBgColor: #f1f1f1;
$blueBgColor: #bdd2fd;
$greenBgColor: #cfeed5;
$orangeBgColor: #f9cb8f;
$aquamarineBgColor: #54b0af;

// buttons
$redBgButtonColor: #d23f3f;
$greenBgButtonBgColor: #2da397;
$darkBgButtonColor: #022c46;
$fioletBgButtonColor: #946bc8;

// shadow
$shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
