// fonts
$font-family: "Tajawal", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$regularFont: 400;
$boldFont: 700;

// fonst colors
$secondaryFontColor: #81868a;
$heroFontColor: #474646;
$whiteColor: #ffffff;
$paleWhiteColor: #94a3ac;
$accentColor: #f16101;
$darkFontColor: #012237;
$blueHoverColor: #527ff3;

// accents
$greenAccentColor: #00ca70;
$blueAccentColor: #2957e2;

// categories accents
$blueCategoryAccent: #1888c9;
$purpleCategoryAccent: #7c4bc0;
$orangeCategoryAccent: #f16101;
$greenCategoryAccent: #2da397;
$redCategoryAccent: #d23f3f;
$mintCategoryAccent: #33a9bb;

// bg colors
$headerBgColor: #5e5ed6;
$heroBgColor: #fefefe;
$footerBgColor: #022c46;
$darkFooterBgColor: #012237;
$lightGreyBgColor: #f1f1f1;
$blueBgColor: #bdd2fd;
$greenBgColor: #cfeed5;
$peachBgColor: #f9cb8f;
$aquamarineBgColor: #54b0af;

// buttons
$redBgButtonColor: #d23f3f;
$greenBgButtonBgColor: #2da397;
$darkBgButtonColor: #022c46;
$fioletBgButtonColor: #936ccb;
$purpleBgButtonColor: #742996;

// shadows
$shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
$shadowDark: rgba(0, 0, 0, 0.35) 0px 5px 15px;
