@import "../../scss";

.section {
  background-color: $peachBgColor;

  padding: 12px 0 200px 0;
  text-align: center;

  @include sm {
    padding: 16px 0 200px 0;
  }

  @include md {
    padding: 20px 0 240px 0;
  }

  @include lg {
    padding: 24px 0 300px 0;
  }

  @include xl {
    padding: 28px 0 220px 0;
  }
}

.container {
  @extend .container;
  position: relative;

  text-align: center;
}

.heading {
  @extend .heading;
  color: $whiteColor;
}

.list_wrapper {
  position: absolute;
  top: 40px;
  right: 0;
  left: 0;

  @include md {
    top: 60px;
  }

  @include xl {
    top: 80px;
  }
}

.item_wrapper {
  margin: 0 8px;
  text-align: center;
}

.item {
  margin: 0 auto;
  padding: 12px 16px 20px 16px;
  max-width: 280px;
  background-color: $darkFooterBgColor;
  text-align: right;
  color: $whiteColor;

  transition: all 0.4s ease;

  @include sm {
    max-width: 320px;
  }

  @include md {
    padding: 20px 32px 40px 32px;
  }

  &:hover,
  &:focus {
    scale: 105%;

    box-shadow: $shadow;

    .date_wrapper {
      &::before {
        left: 0;
      }
    }

    .name {
      color: $accentColor;
    }

    .date_wrapper {
      background-color: $accentColor;
      scale: 110%;
      &::before {
        border-color: $accentColor;
      }
    }
  }
}

.date_wrapper {
  @extend .flex_aligncenter;

  position: relative;

  justify-content: center;
  margin: 0 0 40px auto;
  padding: 12px;
  width: 70px;
  height: 70px;
  text-align: center;
  font-weight: $boldFont;
  background-color: $whiteColor;
  border-radius: 50%;

  transition: all 0.4s ease;

  @include sm {
    margin: 0 0 60px auto;
  }
  @include md {
    margin: 0 0 100px auto;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -6px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid $whiteColor;

    transition: all 0.4s ease;
  }
}

.date {
  color: $darkFontColor;
}

.name {
  margin-bottom: 24px;
  font-weight: $boldFont;

  transition: all 0.4s ease;
}

.content {
}
