@import "../../../scss";

.section {
  @extend .section;
  background-color: $lightGreyBgColor;
  background: url("../../../assets/images/categories/background_sm.webp")
    no-repeat center center;
  padding-bottom: 30px;

  @include md {
    padding-bottom: 100px;
    [dir="ltr"] & {
      background: url("../../../assets/images/categories/background_lg_ltr.webp")
        no-repeat center center;
    }
    [dir="rtl"] & {
      background: url("../../../assets/images/categories/background_lg_rtl.webp")
        no-repeat center center;
    }
  }

  @include lg {
    padding-bottom: 160px;
  }
}

.container {
  @extend .container;
  text-align: center;
}

.heading {
  @extend .heading;
  margin-bottom: 12px;
}

.heading_accent {
  color: $greenAccentColor;
}

.descr {
  text-align: center;
  max-width: 480px;
  margin: 0 auto 24px auto;

  @include lg {
    margin-bottom: 60px;
  }
}

.list {
  @extend .flex_aligncenter;
  flex-direction: column;
  gap: 8px;

  @include md {
    flex-direction: row;
    justify-content: center;
    gap: 24px;
  }
}

.item {
  position: relative;

  &:nth-child(even) {
    [dir="ltr"] & {
      left: 40px;
    }
    [dir="rtl"] & {
      left: -40px;
    }

    @include sm {
      [dir="ltr"] & {
        left: 80px;
      }
      [dir="rtl"] & {
        left: -80px;
      }
    }

    @include md {
      [dir="ltr"] & {
        left: 0;
      }
      [dir="rtl"] & {
        left: 0;
      }
    }
  }

  &:nth-child(odd) {
    [dir="ltr"] & {
      left: -40px;
    }
    [dir="rtl"] & {
      left: 40px;
    }

    @include sm {
      [dir="ltr"] & {
        left: -80px;
      }
      [dir="rtl"] & {
        left: 80px;
      }
    }

    @include md {
      [dir="ltr"] & {
        left: 0;
      }
      [dir="rtl"] & {
        left: 0;
      }
    }
  }
}

.item:nth-child(1) {
  @include md {
    [dir="ltr"] & {
      top: 80px;
    }
    [dir="rtl"] & {
      top: 70px;
    }
  }

  @include lg {
    [dir="ltr"] & {
      top: 120px;
    }
    [dir="rtl"] & {
      top: 90px;
    }
  }
}

.item:nth-child(2) {
  @include md {
    [dir="ltr"] & {
      top: 60px;
    }
    [dir="rtl"] & {
      top: 80px;
    }
  }

  @include lg {
    [dir="ltr"] & {
      top: 80px;
    }
    [dir="rtl"] & {
      top: 120px;
    }
  }
}

.item:nth-child(3) {
  @include md {
    [dir="ltr"] & {
      top: 0;
    }
    [dir="rtl"] & {
      top: 30px;
    }
  }
}

.item:nth-child(4) {
  @include md {
    [dir="ltr"] & {
      top: 25px;
    }
    [dir="rtl"] & {
      top: 0;
    }
  }
}

.thumb {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: $shadow;
  text-align: center;
  z-index: 10;

  width: 50%;
  height: 50%;

  @include sm {
    width: 70%;
    height: 70%;
  }

  @include md {
    width: 80%;
    height: 80%;
  }
}

.img_descr {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: $boldFont;
}

.count {
  position: absolute;
  top: 0;
  left: 0;

  [dir="rtl"] & {
    right: 0;
    left: unset;
    transform: translateX(-70%);
  }
  [dir="ltr"] & {
    left: 0;
    right: unset;
    transform: translateX(70%);
  }

  width: 40px;
  height: 40px;

  padding: 6px;
  border-radius: 50%;
  background-color: $blueAccentColor;
  color: $whiteColor;
  font-size: 20px;
  font-weight: $boldFont;

  @include sm {
    [dir="rtl"] & {
      right: 0;
      left: unset;
      transform: translateX(-30%);
    }
    [dir="ltr"] & {
      left: 0;
      right: unset;
      transform: translateX(30%);
    }
  }

  @include md {
    [dir="rtl"] & {
      transform: translateX(-15%);
    }
    [dir="ltr"] & {
      transform: translateX(15%);
    }
  }

  @include lg {
    [dir="rtl"] & {
      transform: translateX(-25%);
    }
    [dir="ltr"] & {
      transform: translateX(25%);
    }
  }
}

.count_accent {
  @extend .count;
  background-color: $greenAccentColor;
}
