@import "../../scss";

.item {
  max-width: 360px;
  margin: 0 auto;
  // text-align: start;
  border: 2px solid $lightGreyBgColor;
  border-radius: 16px;

  transition: all 0.4s ease;

  &:hover,
  &:focus {
    box-shadow: $shadow;

    .image,
    .preheader,
    .header,
    .course_button {
      scale: 110%;
    }

    .descr {
      color: $darkFontColor;
    }
  }
}

.img_thumb {
  position: relative;
  width: 100%;
  background-color: $lightGreyBgColor;
  border-radius: 16px;
  border: 2px solid $lightGreyBgColor;
  overflow: hidden;
}

.image {
  border-radius: 16px;

  transition: all 0.4s ease;
}

.notion {
  position: absolute;
  top: 16px;
  [dir="ltr"] & {
    right: unset;
    left: 16px;
  }
  [dir="rtl"] & {
    right: 16px;
    left: unset;
  }
  z-index: 10;

  padding: 8px 16px;
  color: $whiteColor;
  font-size: 16px;
  background-color: $fioletBgButtonColor;
  border-radius: 24px;
}

.info_thumb {
  padding: 12px 16px 24px 16px;
  @include sm {
    padding: 16px 24px 24px 24px;
  }
  @include md {
    padding: 24px 32px;
  }
  @include lg {
    padding: 32px 48px;
  }
}

.preheader {
  [dir="ltr"] & {
    text-align: left;
  }
  [dir="rtl"] & {
    text-align: right;
  }
  font-size: 16px;
  color: $accentColor;

  transition: all 0.4s ease;

  @include md {
    font-size: 18px;
  }
  @include lg {
    font-size: 20px;
  }
}

.header {
  [dir="ltr"] & {
    text-align: left;
  }
  [dir="rtl"] & {
    text-align: right;
  }
  font-size: 20px;

  transition: all 0.4s ease;

  @include md {
    font-size: 22px;
  }
  @include lg {
    font-size: 24px;
  }
}

.wrapper {
  @extend .flex_aligncenter;
  gap: 16px;
  margin-bottom: 16px;
  [dir="ltr"] & {
    flex-direction: row;
  }
  [dir="rtl"] & {
    flex-direction: row-reverse;
  }

  @include md {
    margin-bottom: 20px;
  }
  @include lg {
    margin-bottom: 24px;
  }
}

.descr {
  [dir="ltr"] & {
    text-align: left;
  }
  [dir="rtl"] & {
    text-align: right;
  }
  font-size: 16px;
  color: $secondaryFontColor;

  transition: all 0.4s ease;

  @include md {
    font-size: 18px;
  }
  @include lg {
    font-size: 20px;
  }
}

.course_button {
  @extend .flex_aligncenter;
  [dir="ltr"] & {
    flex-direction: row;
  }
  [dir="rtl"] & {
    flex-direction: row-reverse;
  }
  justify-content: center;
  gap: 8px;
  padding: 8px;
  border-radius: 28px;
  font-size: 16px;
  color: #007733;
  border: 1px solid $accentColor;

  transition: all 0.4s ease;

  @include md {
    font-size: 18px;
  }
  @include lg {
    font-size: 20px;
  }

  &:hover,
  &:focus {
    background-color: $accentColor;
    color: $darkFontColor;
    box-shadow: $shadow;

    .icon {
      fill: $darkFontColor;
    }
  }
}

.icon {
  [dir="ltr"] & {
    transform: scale(1, 1);
  }
  [dir="rtl"] & {
    transform: scale(-1, 1);
  }

  width: 20px;
  height: 20px;
  fill: $accentColor;

  transition: all 0.4s ease;
}
