@import "../../../scss";

.container {
  margin: 24px auto;
  @extend .container;
}
.payment_container {
  @include md {
    max-width: 800px;
    margin: 0 auto;
  }
}

.list_wrapper {
  padding: 12px;
  border-radius: 16px;
  background: $whiteColor;
  box-shadow: $shadow;
}

.list {
  @extend .flex_aligncenter;
  justify-content: space-around;
}

.item {
  transition: $transition;

  &:hover,
  &:focus {
    scale: 110%;

    .payment_name {
      color: rgb(70, 63, 178);
    }
  }
}

.active {
  @extend .item;

  scale: 110%;

  .payment_name {
    color: rgb(70, 63, 178);
  }
}

.icon_wrapper {
  @extend .flex_aligncenter;
  justify-content: center;
  padding: 8px;
}

.icon {
  width: 24px;
  height: 24px;

  transition: $transition;

  @include sm {
    width: 32px;
    height: 32px;
  }

  @include md {
    width: 40px;
    height: 40px;
  }
}

.payment_name {
  color: rgb(139, 126, 357);
  font-size: 14px;
  font-weight: $boldFont;

  transition: $transition;

  @include md {
    font-size: 16px;
  }
}
