@import "../../../scss";

.section {
  @extend .section;
  background-color: $aquamarineBgColor;

  @include xl {
    padding: 60px 0;
  }
}

.container {
  @extend .container;
  @extend .flex_aligncenter;

  justify-content: center;
  flex-direction: column;
  text-align: start;
  gap: 32px;

  @include md {
    flex-direction: row;
  }
}

.heading_wrapper {
  @extend .flex_aligncenter;
  color: $whiteColor;

  gap: 8px;

  @include md {
    gap: 16px;
  }

  @include lg {
    gap: 24px;
  }
  @include xl {
    gap: 32px;
  }
}

.heading {
  @extend .heading;

  font-size: 18px;

  @include sm {
    font-size: 24px;
  }

  @include lg {
    font-size: 30px;
  }

  @include xl {
    font-size: 34px;
  }
}

.icon_wrapper {
  i {
    position: relative;

    color: $accentColor;
    font-size: 36px;

    margin-left: 10px;
    margin-right: 25px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: $whiteColor;

    transition: $transition;

    @include sm {
      width: 80px;
      height: 80px;
      font-size: 48px;
    }

    @include md {
      width: 112px;
      height: 112px;
      font-size: 53px;
    }

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: -5px;
      width: 100%;
      height: 100%;
      border: 2px solid $whiteColor;
      border-radius: 50%;
      transition: $transition;

      @include sm {
        left: -7px;
      }

      @include md {
        left: -10px;
      }
    }

    &:hover,
    &:focus {
      scale: 110%;
      &:after {
        left: 0;
      }
    }
  }
}

.form {
  display: flex;
}

.input {
  max-width: 240px;
  padding: 12px;
  text-align: start;
  border: none;
  outline: none;
  font-size: 14px;
  background-color: $whiteColor;

  transition: $transition;

  @include md {
    padding: 16px;
    font-size: 16px;
  }

  &:hover,
  &:focus {
    box-shadow: $shadow;
  }
}

.button {
  padding: 12px;
  font-size: 14px;
  color: $whiteColor;
  background-color: $footerBgColor;

  transition: $transition;

  @include md {
    padding: 16px;
    font-size: 16px;
  }

  &:hover,
  &:focus {
    box-shadow: $shadow;
    background-color: $accentColor;
  }
}
