@import "../../../scss";

.wrapper {
  border: 2px solid $lightGreyBgColor;
}

.list {
  @extend .flex_aligncenter;
}

.item {
  flex-basis: 25%;
  cursor: pointer;

  transition: all 0.4s ease;

  &:hover,
  &:focus {
    & .item_heading {
      font-weight: $boldFont;
    }
  }
}

.item_heading {
  padding: 16px 0;
  color: $secondaryFontColor;
  background-color: $lightGreyBgColor;
  font-size: 12px;

  transition: all 0.4s ease;

  @include sm {
    font-size: 14px;
  }
}

.active {
  position: relative;
  @extend .item_heading;
  color: $whiteColor;
  background-color: $greenCategoryAccent;
  font-weight: $boldFont;

  transition: all 0.4s ease;

  &::after {
    content: "";
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 6px;

    background-color: $greenCategoryAccent;
    clip-path: polygon(100% 0, 0 0, 50% 100%);

    transition: all 0.4s ease;
  }
}

.info_wrapper {
  padding: 16px;
  text-align: start;

  @include sm {
    padding: 32px;
  }

  @include md {
    padding: 32px;
  }

  &:not(:last-child) {
    border-bottom: 2px solid $lightGreyBgColor;
  }
}

// lessons list
.lessons_list {
  width: 100%;
  margin-bottom: 24px;

  @include md {
    margin-bottom: 48px;
  }
}

.lessons_item {
  @extend .flex_aligncenter;
  flex-wrap: wrap;
  padding: 12px;
  gap: 16px;
  border-bottom: 2px solid $lightGreyBgColor;

  &:hover,
  &:focus {
    .lessons_icon_wrapper {
      scale: 110%;
      &::before {
        left: 0;
      }
    }

    .lessons_condition {
      scale: 110%;
      color: $darkFontColor;
    }

    .lessons_info {
      scale: 110%;
    }
  }
}

.lessons_icon_wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  transition: all 0.4s ease;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -4px;
    width: 100%;
    height: 100%;
    border-radius: 50%;

    transition: all 0.4s ease;
  }
}

.lessons_icon_wrapper_1 {
  @extend .lessons_icon_wrapper;
  background-color: $accentColor;
  &:before {
    border: 1px solid $accentColor;
  }
}

.lessons_icon_wrapper_2 {
  @extend .lessons_icon_wrapper;
  background-color: $purpleCategoryAccent;
  &:before {
    border: 1px solid $purpleCategoryAccent;
  }
}

.lessons_icon_wrapper_3 {
  @extend .lessons_icon_wrapper;
  background-color: $redCategoryAccent;
  &:before {
    border: 1px solid $redCategoryAccent;
  }
}

.lessons_icon {
  width: 16px;
  height: 16px;
  fill: $whiteColor;
}

.lessons_condition {
  margin-inline-end: auto;
  font-weight: $boldFont;

  transition: all 0.4s ease;
}

.lessons_info {
  color: $secondaryFontColor;
  font-weight: $boldFont;
  transition: all 0.4s ease;
}

// submission
.submission_sentence {
  color: $secondaryFontColor;
  font-weight: $boldFont;

  &:not(:last-child) {
    margin-bottom: 12px;
  }
}

// content
.content_header {
  margin-bottom: 12px;
  margin-inline-start: 12px;

  @include md {
    margin-bottom: 24px;
    font-size: 14px;
  }
}

.content_descr {
  margin-bottom: 12px;
  margin-inline-start: 12px;
  color: $secondaryFontColor;
  font-weight: $boldFont;
  font-size: 12px;

  @include md {
    margin-bottom: 24px;
    font-size: 14px;
  }
}

.content_condition_first {
  @extend .lessons_condition;
  flex-wrap: nowrap;
  margin-inline-end: 0;
}

.content_button {
  display: inline-block;
  padding: 4px;
  color: $whiteColor;
  background-color: $accentColor;
  font-size: 12px;
  font-weight: $boldFont;

  transition: all 0.4s ease;

  @include sm {
    padding: 4px 8px;
  }

  &:hover,
  &:focus {
    scale: 110%;
  }
}

.video_group_wrapper {
  flex-basis: 100%;
  width: 100%;
  margin: auto;

  @include sm {
    flex-basis: 90%;
    width: 90%;
  }
}

.video_wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;

  padding-top: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// rating

.rating_container {
  @extend .flex_aligncenter;
  flex-direction: column;
  gap: 32px;

  @include lg {
    flex-direction: row;
    justify-content: space-around;
    gap: 8px;
  }
}

.diagram_list {
  width: 100%;
  max-width: 340px;
  text-align: start;

  @include lg {
    flex-basis: 50%;
    max-width: unset;
  }
}

.diagram_item {
  @extend .flex_aligncenter;
  gap: 8px;

  @include sm {
    gap: 16px;
  }

  &:not(:last-child) {
    margin-bottom: 8px;

    @include lg {
      margin-bottom: 16px;
    }
  }
}

.diagram_heading {
  flex-shrink: 1;
  min-width: 80px;
  color: $secondaryFontColor;
}

.diagram_range {
  position: relative;
  flex-shrink: 2;
  width: 100%;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $accentColor;
  }
}

.diagram_votes {
  flex-shrink: 1;
}

.rating_circle {
  @extend .flex_aligncenter;
  flex-direction: column;
  justify-content: center;
  width: 240px;
  height: 240px;
  background-color: $lightGreyBgColor;
  border-radius: 50%;
}

.rating {
  color: $greenCategoryAccent;
  font-size: 80px;
  letter-spacing: -5px;
  line-height: 80%;
}

.rating_comments {
  margin-inline-end: 8px;
}

.add_wrapper {
  text-align: start;
}

.add_header {
  text-align: start;
  margin-bottom: 8px;
  font-size: 18px;

  @include md {
    margin-bottom: 16px;
    font-size: 20px;
  }

  @include lg {
    font-size: 24px;
  }
}

.add_subheader {
  @extend .flex_aligncenter;
  gap: 8px;
  margin-bottom: 16px;
  color: $secondaryFontColor;
}

.input {
  display: block;
  width: 100%;
  max-width: 400px;
  margin-bottom: 12px;
  padding: 12px;
  background-color: $lightGreyBgColor;
  border: none;
  outline: none;
  text-align: start;

  transition: all 0.4s ease;

  @include lg {
    padding: 16px;
  }

  &:hover,
  &:focus {
    box-shadow: $shadow;
  }
}

.textarea {
  display: block;
  width: 100%;
  max-width: 420px;
  margin: 0 auto 12px auto;
  padding: 12px;
  background-color: $lightGreyBgColor;
  border: none;
  outline: none;
  text-align: start;
  resize: vertical;

  transition: all 0.4s ease;

  @include sm {
    min-width: unset;
    max-width: unset;
    padding: 16px;
  }

  &:hover,
  &:focus {
    box-shadow: $shadow;
  }
}

.form_button {
  display: block;
  margin: 0 auto 0 auto;
  padding: 12px 24px;
  color: $whiteColor;
  background-color: $accentColor;
  font-size: 18px;

  transition: all 0.4s ease;

  @include sm {
    margin: 0 0 0 auto;
  }

  &:hover,
  &:focus {
    scale: 110%;
    box-shadow: $shadow;
  }
}
