@import "../../scss";

.hero_section {
  color: $heroFontColor;
  background-color: $heroBgColor;
  padding-bottom: 80px;
}

.hero_container {
  @extend .container;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content {
  position: relative;
  flex-basis: 50%;
  padding: 200px 16px 0 16px;
  text-align: end;
}

.triangle_green {
  position: absolute;
  top: 40px;
  right: 80px;
}

.heading {
  font-size: 80px;
  margin-bottom: 16px;
}

.heading_colored {
  color: $headerBgColor;
}

.subheading {
  font-size: 24px;
  margin-bottom: 20px;
  max-width: 540px;
  margin-left: auto;
}

.hero_button {
  padding: 4px 32px;
  border-radius: 32px;
  background-image: linear-gradient(to right, $headerBgColor, #9499f1);
  font-size: 32px;
  color: $whiteColor;

  transition: all 0.4s ease;

  &:hover,
  &:focus {
    scale: 110%;
    box-shadow: $shadow;
  }
}

.picture {
  position: relative;
  flex-basis: 50%;
}

.hero_image {
  position: absolute;
  top: 32px;
  left: 0;
  z-index: 10;
}

.triangle_blue_big {
  position: absolute;
  top: 32px;
  left: 48px;
}

.triangle_blue {
  position: absolute;
  bottom: -184px;
  left: 0;
}

.triangle_green_small {
  position: absolute;
  bottom: -60px;
  right: -28px;
}

.triangle_rose {
  position: absolute;
  top: 40px;
  right: -100px;
}
