@import "../../../scss";

.comments_wrapper {
  text-align: start;
  margin-bottom: 24px;
}

.header {
  position: relative;
  text-align: start;
  margin-bottom: 8px;
  font-size: 18px;

  @include md {
    margin-bottom: 16px;
    font-size: 20px;
  }

  @include lg {
    font-size: 24px;
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    [dir="ltr"] & {
      left: 0;
      right: unset;
    }
    [dir="rtl"] & {
      right: 0;
      left: unset;
    }
    height: 2px;
    width: 24px;
    background-color: $secondaryFontColor;
  }
}

.comments_subheader {
  @extend .flex_aligncenter;
  justify-content: flex-start;
  gap: 4px;
  margin-bottom: 12px;
  color: $secondaryFontColor;

  @include md {
    margin-bottom: 24px;
  }
}

.icon {
  width: 20px;
  height: 20px;
  stroke: $secondaryFontColor;
  fill: none;
}

.add_wrapper {
  text-align: start;
}

.input_group {
  @extend .flex_aligncenter;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;

  @include sm {
    flex-direction: row-reverse;
  }
}

.input {
  min-width: 300px;
  max-width: 420px;
  display: inline-block;
  padding: 12px;
  background-color: $lightGreyBgColor;
  border: none;
  outline: none;
  text-align: start;

  transition: $transition;

  @include sm {
    width: 50%;
    min-width: unset;
    max-width: unset;
    padding: 16px;
  }

  &:hover,
  &:focus {
    box-shadow: $shadow;
  }
}

.textarea {
  display: block;
  min-width: 300px;
  max-width: 420px;
  margin: 0 auto 12px auto;
  padding: 12px;
  background-color: $lightGreyBgColor;
  border: none;
  outline: none;
  text-align: start;
  resize: vertical;

  transition: $transition;

  @include sm {
    width: 100%;
    min-width: unset;
    max-width: unset;
    padding: 16px;
  }

  &:hover,
  &:focus {
    box-shadow: $shadow;
  }
}

.form_button {
  display: block;
  margin-inline-end: auto;
  padding: 12px 24px;
  color: $whiteColor;
  background-color: $accentColor;
  font-size: 18px;

  transition: $transition;

  &:hover,
  &:focus {
    scale: 110%;
    box-shadow: $shadow;
  }
}
