@import "../../../scss";

.filter_section {
  @extend .section;
}

.filter_container {
  @extend .container;
}

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-inline-start: 20%;

  gap: 12px;
  padding-bottom: 12px;
  border-bottom: 2px solid $lightGreyBgColor;
  text-align: start;
  font-weight: $boldFont;

  @include md {
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 32px;
    margin-inline-start: 0;

    &::after {
      content: "";
      position: absolute;
      top: 36px;
      right: 50%;
      transform: translateX(50%);

      width: 85%;
      height: 2px;
      background-color: $lightGreyBgColor;
    }
  }

  @include lg {
    gap: 40px;

    &::after {
      width: 70%;
    }
  }
}

.empty_item {
  display: none;

  @include md {
    display: block;
  }
}

.item_inner {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
  cursor: pointer;

  transition: all 0.4s ease;

  @include md {
    margin-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: $blueHoverColor;
    scale: 102%;

    .icon {
      fill: $blueHoverColor;
    }
  }
}

.icon {
  width: 20px;
  height: 20px;

  transition: all 0.4s ease;
}

.subcategories_list {
  color: $secondaryFontColor;
  font-size: 12px;
}

.subcategories_item {
  transition: all 0.4s ease;

  &:hover,
  &:focus {
    color: $blueHoverColor;
    scale: 102%;
  }
}

.subcategories_item:not(:last-child) {
  margin-bottom: 4px;

  @include md {
    margin-bottom: 8px;
  }
}
