@import "../../../scss";

.filter_section {
  @extend .section;
}

.filter_container {
  @extend .container;
}

.list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-inline-start: 20%;
  padding-bottom: 12px;

  gap: 12px;
  text-align: start;
  font-weight: $boldFont;
  border-bottom: 2px solid $lightGreyBgColor;

  @include md {
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 32px;
    padding-inline-start: 0;
    padding-bottom: 0;
    border: none;

    &::after {
      content: "";
      position: absolute;
      top: 36px;
      right: 50%;
      transform: translateX(50%);

      width: 85%;
      height: 2px;
      background-color: $lightGreyBgColor;
    }
  }

  @include lg {
    gap: 40px;

    &::after {
      width: 70%;
    }
  }
}

.not_empty {
  padding-bottom: 12px;
  border-bottom: 2px solid $lightGreyBgColor;
}

.item_inner {
  display: flex;
  gap: 12px;
  margin-bottom: 8px;
  cursor: pointer;

  transition: $transition;

  @include md {
    margin-bottom: 32px;
  }

  &:hover,
  &:focus {
    color: $blueHoverColor;
    scale: 102%;

    .icon {
      fill: $blueHoverColor;
    }
  }
}

.icon {
  width: 20px;
  height: 20px;

  transition: $transition;
}

.subcategories_list {
  color: $secondaryFontColor;
  font-size: 12px;
}

.subcategories_item {
  transition: $transition;

  &:hover,
  &:focus {
    color: $blueHoverColor;
    scale: 102%;
  }
}

.subcategories_item:not(:last-child) {
  margin-bottom: 4px;

  @include md {
    margin-bottom: 8px;
  }
}

.subcategories_inner {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.active {
  color: $blueHoverColor;
}

.close_button {
  position: absolute;
  top: 0;
  [dir="ltr"] & {
    right: -24px;
  }
  [dir="rtl"] & {
    left: -24px;
  }
  transform: translateY(-5%);
  padding: 4px;
}

.close_icon {
  width: 16px;
  height: 16px;
  stroke: $blueHoverColor;

  transition: $transition;

  &:hover,
  &:focus {
    scale: 120%;
  }
}
