@import "../../../scss";

.section {
  @extend .section;
}

.container {
  @extend .container;
  text-align: center;
}

.heading {
  @extend .heading;
  margin-bottom: 8px;
}

.button {
  margin-top: 40px;
  display: inline-block;
  padding: 20px 40px;
  background-color: $darkBgButtonColor;
  color: $whiteColor;
  font-weight: $boldFont;

  transition: all 0.4s ease;

  @include md {
    margin-top: 44px;
  }

  @include lg {
    margin-top: 48px;
  }

  &:hover,
  &:focus {
    scale: 110%;
    box-shadow: $shadow;
  }
}
