@import "../../../../scss";

.burger_content {
  position: absolute;
  z-index: 100;
  top: 54px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 58px);

  display: flex;
  flex-direction: column;

  padding: 32px 16px;
  background-color: $footerBgColor;

  @include sm {
    padding: 32px;
  }
  @include md {
    top: 58px;
    padding: 40px;
  }
}

.topper_wrapper {
  @extend .flex_aligncenter;
  justify-content: space-between;
  margin-bottom: 24px;
}

.nav {
  margin-bottom: auto;
}

.bottom_wrapper {
  @extend .flex_aligncenter;
  flex-direction: column;
  gap: 16px;
}

.socials_list {
  @extend .flex_aligncenter;
  justify-content: center;
  gap: 32px;

  @include lg {
    gap: 12px;
    margin: 0;
  }
}

.icon {
  width: 32px;
  height: 32px;
  stroke: $headerBgColor;

  transition: all 0.4s ease;

  @include md {
    width: 36px;
    height: 36px;
  }

  &:hover,
  &:focus {
    stroke: $footerBgColor;
    scale: 110%;
  }
}
