@import "../../../scss";

.item {
  max-width: 300px;
  margin: 0 auto;
  padding: 12px 24px;
  text-align: center;
  border: 2px solid $lightGreyBgColor;

  transition: all 0.4s ease;

  @include sm {
    padding: 16px;
  }

  @include md {
    padding: 24px;
  }

  &:hover,
  &:focus {
    scale: 104%;
    box-shadow: $shadow;

    .icon_wrapper {
      scale: 110%;
      box-shadow: $shadow;
      &:before {
        left: 0;
      }
    }

    .image {
      scale: 120%;
      box-shadow: $shadow;
    }

    .name {
      color: $accentColor;
    }

    .descr {
      color: $darkFontColor;
    }
  }
}

.icon_wrapper {
  @extend .flex_aligncenter;

  position: relative;

  justify-content: center;
  margin: 0 auto 12px auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: $accentColor;

  transition: all 0.4s ease;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -4px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid $accentColor;

    transition: all 0.4s ease;
  }
}

.icon {
  width: 24px;
  height: 24px;
  fill: $whiteColor;
}

.content {
  margin-bottom: 8px;
  padding-bottom: 16px;
  font-size: 16px;
  font-weight: $boldFont;
  border-bottom: 2px solid $lightGreyBgColor;

  @include sm {
    margin-bottom: 12px;
    padding-bottom: 20px;
  }
}

.image_thumb {
  display: flex;
  margin: 0 auto 12px auto;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid $lightGreyBgColor;
}

.image {
  width: 100%;
  object-fit: cover;
  transition: all 0.4s ease;
}

.placeholder_icon {
  width: 40px;
  height: 40px;
  margin: auto;
  stroke: $secondaryFontColor;
  fill: none;
  background-color: $whiteColor;

  transition: all 0.4s ease;
}

.name {
  font-weight: $boldFont;
  color: $darkFontColor;

  transition: all 0.4s ease;
}

.descr {
  color: $secondaryFontColor;

  transition: all 0.4s ease;
}
