@import "../../scss";

.section {
  @extend .section;
  padding-bottom: 0;
}

.socials_list {
  @extend .flex_aligncenter;
  justify-content: center;
  gap: 32px;

  @include lg {
    gap: 12px;
    margin: 0;
  }
}
