@import "../../../scss";

.section {
  @extend .section;
  text-align: center;
  background-color: $blueBgColor;
  color: $whiteColor;
}

.section {
  padding: 36px 0;
  text-align: center;
  text-align: center;
  background-color: $blueBgColor;
  color: $whiteColor;

  @include sm {
    padding: 48px 0;
  }

  @include md {
    padding: 56px 0;
  }

  @include lg {
    padding: 64px 0;
  }
}

.heading {
  @extend .heading;
}
