@import "../../../scss";

.section {
  padding: 36px 0;
  text-align: center;
  background-color: $blueBgColor;
  color: $whiteColor;

  @include sm {
    padding: 48px 0;
  }

  @include md {
    padding: 56px 0;
  }

  @include lg {
    padding: 64px 0;
  }
}

.heading {
  @extend .heading;
}

.triangle {
  position: absolute;
  bottom: -28px;
  right: 50%;
  z-index: 10;
  transform: translateX(50%);

  background-color: $blueBgColor;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
  width: 90px;
  height: 30px;
}
