@import "../../../scss";

.section {
  position: relative;
  padding: 36px 0;
  text-align: center;
  background-color: $blueBgColor;
  color: $whiteColor;

  @include sm {
    padding: 48px 0;
  }

  @include md {
    padding: 56px 0;
  }

  @include lg {
    padding: 64px 0;
  }

  &::after {
    content: "";
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 30px;

    background-color: $blueBgColor;
    clip-path: polygon(100% 0, 0 0, 50% 100%);
  }
}

.heading {
  @extend .heading;
}
