@import "../../scss";

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  max-height: 80vh;

  width: 90vw;

  background-color: $whiteColor;
  overflow-y: auto;

  @include md {
    max-width: 700px;
  }
}

.modal_header {
  position: sticky;
  top: 0;
  right: 0;
  padding: 24px 24px 12px 24px;
  z-index: 2;
  background-color: $whiteColor;
}

.modal_content {
  margin: 0 auto;
  padding: 0 12px 48px 12px;
  display: flex;
  text-align: center;
}

.close_button {
  margin-inline-start: auto;
  display: block;
  cursor: pointer;
  text-align: center;

  transition: all 0.4s ease-in-out;

  &:hover,
  &:focus {
    .close_icon {
      scale: 130%;
      stroke: rgb(70, 63, 178);
    }
  }
}

.close_icon {
  width: 24px;
  height: 24px;
  stroke: rgb(139, 126, 357);

  transition: all 0.4s ease-in-out;
}
