@import "../../../../scss";

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include sm {
    flex-direction: row;
  }

  @include md {
  }
  @include lg {
    justify-content: space-between;
  }
}

.item {
  @extend .flex_aligncenter;

  color: $whiteColor;
  font-size: 14px;

  transition: all 0.4s ease;

  @include sm {
    padding: 0 8px;
  }
  @include md {
    padding: 0 16px;
    font-size: 16px;
  }

  &:not(:last-child) {
    @include sm {
      border-inline-end: 2px solid $whiteColor;
    }
  }

  &:hover,
  &:focus {
    scale: 110%;
    color: $accentColor;

    @include lg {
      color: $whiteColor;
    }
  }
}

.contact_link {
  @extend .flex_aligncenter;
}

.link_content {
  direction: ltr;
  transition: all 0.4s ease;
}

.icon {
  width: 20px;
  height: 20px;
  margin-inline-end: 8px;
  fill: $whiteColor;

  transition: all 0.4s ease;

  @include md {
    margin-inline-end: 12px;
  }
}
