@import "../../scss";

.item {
  max-width: 320px;
  margin: 0 auto;

  transition: all 0.4s ease;

  @include lg {
    width: 310px;
  }

  @include lg {
    width: 320px;
  }

  &:hover,
  &:focus {
    scale: 105%;
    box-shadow: $shadow;
  }
}

.img_thumb {
  position: relative;

  height: 220px;
  overflow: hidden;
}

.image {
}

.favorite_button {
  font-size: 16px;
  color: #fff;
  position: absolute;
  top: 16px;
  right: 16px;

  transition: all 0.4s ease;

  &:hover,
  &:focus {
    scale: 120%;
    .icon {
      fill: $whiteColor;
    }
  }
}

.icon {
  width: 24px;
  height: 24px;
  stroke: $whiteColor;
  fill: none;

  transition: all 0.4s ease;
}

.wrapper {
  position: relative;
  padding: 24px 44px;
  border: 2px solid $lightGreyBgColor;
  border-top: 0;
}

.category {
  position: absolute;
  top: -13.5px;

  [dir="ltr"] & {
    right: 50px;
    left: unset;
  }
  [dir="rtl"] & {
    left: 50px;
    right: unset;
  }

  display: inline-block;
  vertical-align: middle;
  font-size: 10px;
  letter-spacing: 0.2em;
  background-color: $redCategoryAccent;
  color: $whiteColor;
  text-transform: uppercase;
  font-weight: $boldFont;
  line-height: 27px;
  padding: 0 17px;

  transition: all 0.4s ease;

  &:hover,
  &:focus {
    color: $whiteColor;
  }
}

.admin_wrapper {
  @extend .flex_aligncenter;
  justify-content: flex-start;
  gap: 12px;
  font-size: 14px;
  color: $secondaryFontColor;
  margin-bottom: 4px;
}

.admin_image {
  width: 24px;
  border-radius: 50%;
}

.admin {
  font-size: 14px;
}

.title {
  text-align: start;
  font-size: 24px;
  font-weight: $boldFont;
  margin-bottom: 4px;

  a {
    color: inherit;
    transition: all 0.4s ease;
  }
}

.meta {
  @extend .flex_aligncenter;
  justify-content: space-between;
  gap: 12px;
  border-bottom: 2px solid $lightGreyBgColor;
  padding-bottom: 20px;
  margin-bottom: 12px;
}

.hours_wrapper {
  @extend .flex_aligncenter;
  gap: 4px;
  font-size: 12px;
}

.downloaded_wrapper {
  @extend .hours_wrapper;
  padding: 4px 8px;
  background-color: $lightGreyBgColor;
}

.meta_icon {
  width: 16px;
  height: 16px;
  stroke: $accentColor;
  fill: $accentColor;
}

.button {
  display: inline-block;
  padding: 16px;
  width: 100%;
  background-color: $lightGreyBgColor;
  font-weight: $boldFont;

  transition: all 0.4s ease;

  &:hover,
  &:focus {
    background-color: #d23f3f;
    box-shadow: $shadow;
  }
}
