// .item {
//   padding-top: 120px;
//   padding-bottom: 120px;
// }

//   [class*="col-lg-"] {
//     &:nth-child(1) {
//       .course-one__category {
//         background-color: #7c4bc0;
//       }
//     }

//     &:nth-child(2) {
//       .course-one__category {
//         background-color: #1888c9;
//       }
//     }

//     &:nth-child(3) {
//       .course-one__category {
//         background-color: #d23f3f;
//       }
//     }

//     &:nth-child(4) {
//       .course-one__category {
//         background-color: #2da397;
//       }
//     }

//     &:nth-child(5) {
//       .course-one__category {
//         background-color: #d23f3f;
//       }
//     }

//     &:nth-child(6) {
//       .course-one__category {
//         background-color: #33a9bb;
//       }
//     }
//   }

  .item {
    margin-bottom: 30px;
    transition: all 0.4s ease;

    &:hover {
      box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.05);
    }
  }

  .img_thumb {
    position: relative;

    > img {
      width: 100%;
    }

    i {
      font-size: 16px;
      color: #fff;
      position: absolute;
      top: 30px;
      right: 30px;
    }
  }



.wrapper {
    padding-left: 45px;
    padding-right: 45px;
    position: relative;
    padding-top: 50px;

    padding-bottom: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(241, 241, 241);
    border-top: 0;
    background-color: #fff;
  }

  .link {
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    letter-spacing: 0.2em;
    background-color: $thm-base-color;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 27px;
    padding: 0 17px;
    position: absolute;
    left: 50px;
    top: -13.5px;
    transition: all 0.4s ease;

    &:hover {
      color: #fff;
      background-color: $thm-black;
    }
  }

  .admin {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: $thm-text-color;
    margin: 0;
    line-height: 1em;
    margin-bottom: 20px;

    > img {
      width: 21px !important;
      border-radius: 50%;
      margin-right: 10px;
    }

    a {
      color: #2da397;
      margin-left: 5px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 600;
    color: $thm-black;
    margin: 0;
    margin-bottom: 5px;

    a {
      color: inherit;
      transition: all 0.4s ease;

      &:hover {
        color: $thm-base-color;
      }
    }
  }

  &__stars {
    display: flex;
    align-items: center;

    &-wrap {
      display: flex;
      align-items: center;

      i {
        font-size: 14px;
        color: $thm-base-color;
      }
    }
  }

  

  &__count {
    font-size: 14px;
    font-weight: 500;
    color: $thm-black;
    margin-left: 10px;
  }

  &__stars-count {
    font-size: 11px;
    color: $thm-text-color;
    font-weight: 500;
    background-color: #f1f1f1;
    display: inline-block;
    vertical-align: middle;
    line-height: 22px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
  }

  &__meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid #f1f1f1;
    padding-top: 20px;
    margin-top: 15px;

    a {
      color: $thm-text-color;
      font-size: 14px;
      font-weight: 500;
      display: flex;
      align-items: center;
      line-height: 1em;
      transition: all 0.4s ease;

      &:hover {
        color: $thm-base-color-2;

        i {
          color: $thm-black;
        }
      }

      &:last-child {
        color: $thm-black;
        font-weight: 600;
      }
    }

    i {
      font-size: 14px;
      color: $thm-base-color;
      margin-right: 10px;
      transition: all 0.4s ease;
    }
  }

  &__link {
    background-color: #f1f1f1;
    width: 100%;
    color: $thm-text-color;
    font-size: 16px;
    font-weight: 600;
    display: block;
    text-align: center;
    padding: 11.5px 0;
    transition: all 0.4s ease;
    margin-top: 20px;

    &:hover {
      background-color: $thm-base-color;
      color: #fff;
    }
  }
}
