@import "../../scss";

.section {
  @extend .section;
  margin-bottom: 16px;
}

.container {
  @extend .container;
  text-align: start;
}

.list_heading {
  display: inline-block;
  margin-bottom: 8px;
  margin-inline-start: 16px;
  text-align: start;
  font-size: 16px;

  transition: all 0.4s ease;

  @include sm {
    font-size: 18px;
  }

  @include md {
    font-size: 20px;
    margin-inline-start: 40px;
    margin-bottom: 16px;
  }

  @include lg {
    font-size: 24px;
  }

  @include xl {
    font-size: 28px;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    scale: 105%;
    color: $accentColor;

    .icon {
      stroke: $accentColor;
    }
  }
}

.list_heading_link {
  @extend .flex_aligncenter;
  gap: 4px;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: $darkFontColor;
  fill: none;
  [dir="ltr"] & {
    transform: rotate(-90deg);
  }
  [dir="rtl"] & {
    transform: rotate(90deg);
  }

  transition: all 0.4s ease;

  @include md {
    width: 32px;
    height: 32px;
  }
}

.item_wrapper {
  margin: 0 8px;
}
