@import "../../scss";

// search section
.search_section {
  @extend .section;
  background-color: $lightGreyBgColor;
}

.search_container {
  @extend .container;
  @extend .flex_aligncenter;
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;

  @include md {
    gap: 32px;
  }
}

.form {
  position: relative;
}

.submit_button {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  background-color: transparent;

  [dir="rtl"] & {
    right: 8px;
    left: unset;
  }
  [dir="ltr"] & {
    left: 8px;
    right: unset;
  }

  @include md {
    [dir="rtl"] & {
      right: 16px;
      left: unset;
    }
    [dir="ltr"] & {
      left: 16px;
      right: unset;
    }
  }
}

.submit_icon {
  width: 24px;
  height: 24px;
  stroke: $darkFontColor;
  fill: $whiteColor;
}

.input {
  min-width: 280px;
  padding: 8px 16px;
  padding-inline-start: 36px;
  border: 1px solid $paleWhiteColor;
  border-radius: 8px;
  text-align: start;

  transition: all 0.4s ease;

  @include md {
    padding: 16px 32px;
    padding-inline-start: 48px;
    min-width: 520px;
    font-size: 18px;
  }

  &:hover,
  &:focus {
    border: 1px solid $purpleBgButtonColor;
  }
}

.filter_button {
  @extend .flex_aligncenter;
  justify-content: center;
  gap: 12px;
  padding: 8px 16px;
  color: $whiteColor;
  background-color: $purpleBgButtonColor;
  border-radius: 8px;
  font-size: 14px;

  transition: all 0.4s ease;

  @include md {
    padding: 16px 32px;
    font-size: 20px;
  }

  &:hover,
  &:focus {
    scale: 105%;
    box-shadow: $shadow;
    box-shadow: $shadowDark;
  }
}

.filter_icon {
  width: 20px;
  height: 20px;
  fill: $whiteColor;
}

// categories sections
.section {
  @extend .section;
  margin-bottom: 16px;
}

.container {
  @extend .container;
  text-align: start;
}

.list_heading {
  display: inline-block;
  margin-bottom: 8px;
  margin-inline-start: 16px;
  text-align: start;
  font-size: 16px;

  transition: all 0.4s ease;

  @include sm {
    font-size: 18px;
  }

  @include md {
    font-size: 20px;
    margin-inline-start: 40px;
    margin-bottom: 16px;
  }

  @include lg {
    font-size: 24px;
  }

  @include xl {
    font-size: 28px;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    scale: 105%;
    color: $accentColor;

    .icon {
      stroke: $accentColor;
    }
  }
}

.list_heading_link {
  @extend .flex_aligncenter;
  gap: 4px;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: $darkFontColor;
  fill: none;
  [dir="ltr"] & {
    transform: rotate(-90deg);
  }
  [dir="rtl"] & {
    transform: rotate(90deg);
  }

  transition: all 0.4s ease;

  @include md {
    width: 32px;
    height: 32px;
  }
}

.item_wrapper {
  margin: 0 8px;
}
