@import "../../../scss";

.container {
  @extend .container;
  text-align: center;
  margin-bottom: 12px;

  @include md {
    margin-bottom: 24px;
  }
}

.list {
  @extend .flex_aligncenter;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  margin: 0 auto;

  @include md {
    flex-direction: row;
    align-items: baseline;
    gap: 16px;
  }
}

.item {
  max-width: 320px;
  width: 100%;
  padding: 12px;
  text-align: center;
  border: 2px solid $lightGreyBgColor;

  transition: $transition;

  @include md {
    padding: 24px;
  }

  &:hover,
  &:focus {
    box-shadow: $shadow;
    scale: 105%;

    .title {
      scale: 110%;
    }

    .icon {
      scale: 110%;

      &:before {
        left: 0;
      }
    }
  }
}

.icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 0 auto 12px auto;
  border-radius: 50%;
  text-align: center;

  transition: $transition;

  @include md {
    width: 112px;
    height: 112px;
    margin-bottom: 24px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -6px;
    width: 100%;
    height: 100%;
    border: 2px solid;
    border-radius: 50%;

    transition: $transition;

    @include md {
      left: -10px;
    }
  }

  i {
    font-size: 40px;
    color: $whiteColor;

    @include md {
      font-size: 54px;
    }
  }
}

.color_1 {
  .icon {
    background-color: $greenCategoryAccent;

    &::before {
      border-color: $greenCategoryAccent;
    }
  }
}

.color_2 {
  .icon {
    background-color: $orangeCategoryAccent;

    &::before {
      border-color: $orangeCategoryAccent;
    }
  }
}

.color_3 {
  .icon {
    background-color: $purpleCategoryAccent;

    &::before {
      border-color: $purpleCategoryAccent;
    }
  }
}

.title {
  transition: $transition;
}

.contact_link {
  display: inline-block;
  transition: $transition;

  &:hover,
  &:focus {
    color: $accentColor;
    scale: 105%;
  }
}
