@import "../../../../scss";

.nav_list {
  @extend .flex_aligncenter;
  flex-direction: column;
  gap: 20px;
  color: $secondaryFontColor;

  @include sm {
    font-size: 18px;
  }

  & a {
    display: inline-block;

    transition: $transition;

    &:hover,
    &:focus {
      scale: 110%;
      color: $accentColor;
    }
  }

  & [class="active"] {
    color: $accentColor;
    font-weight: $boldFont;

    &:hover,
    &:focus {
      color: $accentColor;
    }
  }
}
