@import "../../../scss";

.header {
  @extend .container;
  @extend .flex_aligncenter;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;

  background-color: $whiteColor;
  box-shadow: $shadow;
  margin-bottom: 8px;
  padding: 8px 16px;

  display: flex;
  justify-content: space-between;

  @include sm {
    padding: 8px 24px;
  }

  @include lg {
    position: unset;
    display: block;
    padding: 0;
    max-width: 100%;
  }
}

.topper {
  background-color: $headerBgColor;
  color: $whiteColor;

  @include md {
    padding: 8px 0;
  }

  .include lg {
    padding: 16px 0;
  }
}

.topper_container {
  @extend .container;
  @extend .flex_aligncenter;
  justify-content: space-between;
  flex-wrap: wrap;

  @include md {
    justify-content: center;
    gap: 8px;
  }

  @include lg {
    justify-content: space-between;
    gap: 16px;
  }
}

.wrapper {
  @extend .flex_aligncenter;
  gap: 16px;
}

.content {
  @include md {
    padding: 8px 0;
  }
}

.content_container {
  @extend .container;
  @extend .flex_aligncenter;
  position: relative;
  gap: 48px;
}

.nav {
  @extend .flex_aligncenter;
  gap: 36px;
}

.socials_title {
  color: $whiteColor;

  transition: all 0.4s ease;
}
