@import "../../scss";

.section {
  @extend .section;
  background-color: $lightGreyBgColor;
}

.container {
  @extend .container;
  @extend .flex_aligncenter;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;

  @include md {
    gap: 0;
  }
}

.info_wrapper {
  text-align: right;

  @include sm {
    flex-basis: 80%;
  }

  @include md {
    flex-basis: 56%;
    padding: 32px 60px 32px 0;
  }

  @include lg {
    padding: 40px 100px 40px 0;
  }
}

.heading {
  @extend .heading;
  padding-bottom: 8px;
}

.descr {
  padding-bottom: 32px;
  font-size: 14px;
  color: $secondaryFontColor;
  background-image: url("../../assets/images/home/line_stripe.png");
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: bottom;

  @include md {
    font-size: 16px;
  }

  @include lg {
    font-size: 20px;
  }
}

.button {
  display: inline-block;
  padding: 8px 24px;
  border-radius: 32px;
  font-size: 28px;
  font-weight: $boldFont;
  color: $accentColor;
  background-color: $whiteColor;
  box-shadow: $shadow;

  transition: all 0.4s ease;

  &:hover,
  &:focus {
    scale: 110%;
    box-shadow: $shadowDark;
  }
}

.video_group_wrapper {
  flex-basis: 100%;

  @include sm {
    flex-basis: 90%;
  }

  @include md {
    flex-basis: 44%;
  }
}

.video_wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;

  padding-top: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.video_descr {
  padding: 16px 12px;
  color: $whiteColor;
  background-color: $footerBgColor;
  font-size: 16px;
  font-weight: $boldFont;

  @include md {
  }

  @include lg {
    padding: 24px 16px;
    font-size: 20px;
  }
}
