@import "../../scss";

.header {
  box-shadow: $shadow;
}
// topper
.topper {
  padding: 16px 0;
  background-color: $headerBgColor;
  color: $whiteColor;
}

.topper_container {
  @extend .container;
  @extend .flex_aligncenter;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}

.list {
  display: flex;
  justify-content: space-between;
}

.item {
  @extend .flex_aligncenter;
  padding: 0 16px;
}

.item:not(:last-child) {
  border-right: 2px solid $whiteColor;
}

.icon {
  width: 24px;
  height: 24px;
  margin-left: 12px;
  fill: $whiteColor;
}

.socials {
  @extend .flex_aligncenter;
  gap: 12px;
  margin-right: 24px;
}

.wrapper {
  @extend .flex_aligncenter;
}

.button_icon {
  background-color: transparent;
  border: none;
  padding: 0;
}

// content
.content {
  padding: 20px 0;
}

.content_container {
  @extend .container;
  @extend .flex_aligncenter;
  gap: 48px;
}

.search_box {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
}

.search_button {
  position: relative;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $greenBgButtonBgColor;
  font-size: 18px;
  transition: all 0.4s ease;

  color: #fff;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -5px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid $greenBgButtonBgColor;
    transition: all 0.4s ease;
  }

  &:hover {
    color: #fff;

    &:before {
      left: 0;
    }
  }
}

.sign_list {
  @extend .flex_aligncenter;
  gap: 36px;
  margin-right: auto;
}

.sign_button {
  padding: 12px 24px;
  border-radius: 32px;
}
.register_button {
  @extend .sign_button;
  background-color: $redBgButtonColor;
  color: $whiteColor;
}

.login_button {
  @extend .sign_button;
  border: 1px solid $greenBgButtonBgColor;
  color: $secondaryFontColor;
}

.nav_list {
  @extend .flex_aligncenter;
  gap: 36px;
  color: $secondaryFontColor;
}
