@import "../../../scss";

.hero_section {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
  color: $heroFontColor;
  background-color: $heroBgColor;

  @include md {
    padding-top: 0;
    padding-bottom: 20px;
  }
}

.hero_container {
  @extend .container;
  display: flex;
  justify-content: space-between;
  min-width: 320px;
  min-height: 50vh;

  @include md {
    height: 68vh;
    gap: 24px;
  }
}

.content {
  position: relative;
  z-index: 20;
  margin: auto;
  padding: 48px 20px;
  text-align: center;
  background-color: $blueBgColor;
  border-radius: 24px;

  @include sm {
    max-width: 500px;
  }

  @include md {
    flex-basis: 40%;
    height: unset;
    margin: auto;
    padding: 0;
    text-align: start;
    background-color: unset;
  }

  @include lg {
    padding-top: 120px;
    padding-bottom: 0;
    padding-inline-end: 40px;
    padding-inline-start: 16px;
  }

  @include xl {
    padding-inline-end: 100px;
  }
}

.triangle_green {
  display: none;
  position: absolute;

  @include md {
    display: block;
    top: -45%;
    right: 5%;
  }

  @include lg {
    top: -10%;
    right: 20%;
  }
}

.heading {
  @extend .heading;
  width: 200px;
  text-align: center;
  margin-bottom: 32px;

  @include md {
    width: unset;
    margin-bottom: 24px;
    margin-inline-start: 0;
    text-align: start;
  }
}

.heading_colored {
  color: $headerBgColor;
}

.subheading {
  font-size: 20px;
  margin-bottom: 36px;
  max-width: 400px;

  @include sm {
    max-width: 540px;
  }

  @include md {
    margin-bottom: 28px;
    font-size: 20px;
  }

  @include lg {
    font-size: 24px;
  }
}

.hero_button {
  display: inline-block;
  padding: 8px 32px;
  border-radius: 32px;
  background-image: linear-gradient(to right, $headerBgColor, #9499f1);
  font-size: 20px;
  color: $whiteColor;

  transition: $transition;

  @include md {
    padding: 4px 32px;
    font-size: 24px;
  }

  &:hover,
  &:focus {
    scale: 110%;
    box-shadow: $shadowDark;
  }
}

.picture_wrapper {
  display: none;
  position: relative;
  min-width: 320px;
  margin: auto;
  height: 70%;

  @include md {
    display: block;
    flex-grow: 1;
    height: 100%;
    max-height: 500px;
  }

  @include lg {
    max-height: 700px;
  }
}

.hero_image {
  position: absolute;
  top: 3%;
  left: -7%;
  max-height: 95%;
  max-width: 100%;
  z-index: 30;
  margin: auto;

  @include md {
    top: 2%;
    left: -5%;
    right: 5%;
  }

  @include lg {
    left: 12%;

    height: auto;
    max-width: 95%;
  }

  @include xl {
    left: 20%;
  }
}

.triangle_blue_big {
  position: absolute;
  max-height: 95%;
  max-width: 95%;
  margin: auto;

  @include md {
    top: 2%;
    left: 3%;
    right: -3%;
  }

  @include lg {
    top: 2%;
    left: 12%;

    height: auto;
    max-height: 95%;
    max-width: 95%;
  }

  @include xl {
    left: 23%;
  }
}

.triangle_blue {
  position: absolute;

  @include md {
    left: -22%;
    bottom: -5%;
  }

  @include lg {
    left: 5%;
    bottom: -3%;
  }
}

.triangle_green_small {
  position: absolute;

  @include md {
    bottom: -10%;
    left: 80%;
  }

  @include lg {
    bottom: -2%;
    left: 70%;
  }
}

.triangle_rose {
  position: absolute;
  top: 0;

  @include md {
    right: -60px;
  }
}
