@import "../../../scss";

.hero_section {
  padding-bottom: 20px;
  overflow: hidden;
  color: $heroFontColor;
  background-color: $heroBgColor;
}

.hero_container {
  @extend .container;
  height: 75vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-width: 320px;

  @include md {
    // height: 70vh;
    flex-direction: row;
    gap: 24px;
  }
}

.content {
  position: relative;
  z-index: 20;
  height: 30%;

  text-align: start;

  @include sm {
    margin: 0 auto;
    max-width: 500px;
  }

  @include md {
    flex-basis: 40%;
    height: unset;
    margin: auto;
  }

  @include lg {
    padding: 120px 40px 0 16px;
  }

  @include xl {
    padding: 120px 100px 0 16px;
  }
}

.triangle_green {
  display: none;
  position: absolute;
  top: -78%;
  right: -10%;

  @include sm {
    display: block;
  }

  @include md {
    top: -60%;
    right: 5%;
  }

  @include lg {
    top: -23%;
    right: -8%;
    width: 45%;
  }

  @include xl {
    top: -35%;
    width: 50%;
  }
}

.heading {
  @extend .heading;
  margin-inline-start: 0;
  text-align: start;
  margin-bottom: 8px;

  @include sm {
    margin-bottom: 24px;
  }
}

.heading_colored {
  color: $headerBgColor;
}

.subheading {
  font-size: 14px;
  margin-bottom: 8px;
  max-width: 400px;

  @include sm {
    max-width: 540px;
    margin-bottom: 12px;
    font-size: 16px;
  }

  @include md {
    font-size: 20px;
    margin-bottom: 24px;
  }

  @include lg {
    font-size: 24px;
  }
}

.hero_button {
  padding: 4px 32px;
  border-radius: 32px;
  background-image: linear-gradient(to right, $headerBgColor, #9499f1);
  font-size: 20px;
  color: $whiteColor;

  transition: all 0.4s ease;

  @include md {
    font-size: 24px;
  }

  &:hover,
  &:focus {
    scale: 110%;
    box-shadow: $shadow;
  }
}

.picture_wrapper {
  position: relative;
  min-width: 320px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  height: 70%;

  @include md {
    flex-grow: 1;
    height: unset;
    margin-inline-start: auto;
    margin-inline-end: auto;

    [dir="ltr"] & {
      right: -5%;
    }
  }

  @include lg {
    display: flex;
    [dir="ltr"] & {
      right: -9%;
    }
  }
}

.hero_image {
  position: absolute;
  top: 3%;
  left: -5%;
  width: 95%;
  z-index: 30;

  @include md {
    top: 8%;
    left: -4%;
  }
}

.triangle_blue_big {
  position: absolute;
  top: 3%;
  left: 10%;
  width: 95%;

  @include md {
    top: 8%;
    left: 8%;
  }
}

.triangle_blue {
  position: absolute;
  bottom: -18%;
  left: -15%;

  @include sm {
    left: -22%;
    bottom: -15%;
  }

  @include md {
    left: -22%;
    bottom: -5%;
  }

  @include lg {
    left: -12%;
    bottom: -3%;
    width: 30%;
  }
}

.triangle_green_small {
  position: absolute;
  top: 0;
  left: -5%;

  @include sm {
    top: 0;
    left: -15%;
  }

  @include md {
    top: 90%;
    left: 80%;
  }

  @include lg {
    top: unset;
    bottom: -2%;
    left: 85%;
    width: 30%;
  }
}

.triangle_rose {
  position: absolute;
  top: 1%;
  right: -20%;

  @include sm {
    right: -25%;
  }

  @include md {
    right: -60px;
  }

  @include lg {
    width: 30%;
  }
}
