@import "../../scss";

.section {
  @extend .section;
}

.container {
  @extend .container;
  text-align: center;
}

.list {
  @extend .flex_aligncenter;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 24px;

  @include md {
    gap: 12px;
    row-gap: 24px;
  }
  @include lg {
    justify-content: space-around;
  }
}
