@import "../../scss";

.section {
  @extend .section;
}

.container {
  @extend .container;
  text-align: center;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;

  @include md {
    gap: 12px;
    row-gap: 24px;
  }
}
.item {
  position: relative;
}
