@import "../../../scss";

.sign_list {
  @extend .flex_aligncenter;
  justify-content: center;
  gap: 36px;
  margin-bottom: 40px;

  @include lg {
    margin-right: auto;
    margin-bottom: 0;
  }
}

.sign_button {
  padding: 12px 24px;
  border-radius: 32px;

  transition: all 0.4s ease;

  &:hover,
  &:focus {
    scale: 110%;
    box-shadow: $shadow;
  }
}

.register_button {
  @extend .sign_button;
  background-color: $redBgButtonColor;
  color: $whiteColor;
}

.login_button {
  @extend .sign_button;
  border: 1px solid $greenBgButtonBgColor;
  color: $secondaryFontColor;
}
