@import "../../../scss";

.section {
  @extend .section;
  text-align: center;
  background-color: $lightGreyBgColor;
}

.container {
  @extend .container;
}

.heading {
  @extend .heading;
  margin-bottom: 8px;
  max-width: unset;

  @include md {
    margin-bottom: 12px;
  }
}

.item {
  padding: 16px 0;
  background-color: $whiteColor;
  text-align: center;

  transition: all 0.4s ease;

  @include md {
    padding: 20px 0;
  }

  @include lg {
    padding: 24px 0;
  }
  &:hover,
  &:focus {
    box-shadow: $shadow;
    scale: 105%;

    .title {
      scale: 110%;
      color: $accentColor;
    }

    .icon {
      scale: 110%;

      &:before {
        left: 0;
      }
    }
  }
}

.title {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: $darkFontColor;
  margin-top: 12px;

  transition: all 0.4s ease;

  a {
    color: inherit;
  }

  @include md {
    margin-top: 20px;
  }

  @include lg {
    margin-top: 24px;
  }
}

.icon {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;

  transition: all 0.4s ease;

  @include md {
    width: 92px;
    height: 92px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -8px;
    width: 100%;
    height: 100%;
    border: 2px solid $accentColor;
    border-radius: 50%;

    transition: all 0.4s ease;
  }

  i {
    font-size: 48px;
    line-height: 80px;
    color: #fff;

    @include md {
      font-size: 56px;
      line-height: 92px;
    }
  }
}

.color_1 {
  .icon {
    background-color: $blueCategoryAccent;

    &:before {
      border-color: $blueCategoryAccent;
    }
  }
}

.color_2 {
  .icon {
    background-color: $purpleCategoryAccent;

    &:before {
      border-color: $purpleCategoryAccent;
    }
  }
}

.color_3 {
  .icon {
    background-color: $orangeCategoryAccent;

    &:before {
      border-color: $orangeCategoryAccent;
    }
  }
}

.color_4 {
  .icon {
    background-color: $greenCategoryAccent;

    &:before {
      border-color: $greenCategoryAccent;
    }
  }
}

.color_5 {
  .icon {
    background-color: $redCategoryAccent;

    &:before {
      border-color: $redCategoryAccent;
    }
  }
}

.color_6 {
  .icon {
    background-color: $mintCategoryAccent;

    &:before {
      border-color: $mintCategoryAccent;
    }
  }
}

.button {
  display: inline-block;
  margin-top: 40px;
  padding: 16px 44px;
  font-size: 16px;
  color: $whiteColor;
  font-weight: $boldFont;
  background-color: $footerBgColor;

  transition: all 0.4s ease;

  &:hover,
  &:focus {
    scale: 110%;
    box-shadow: $shadow;
  }
}
