@import "../../../../scss";

.wrapper {
  position: relative;
  margin-inline-end: auto;

  @include lg {
    margin: 0;
    padding-inline-end: 8px;
    border-inline-end: 2px solid $whiteColor;
  }
}

.button {
  @extend .flex_aligncenter;
  gap: 4px;
  padding: 0;
  color: $whiteColor;
  background-color: transparent;

  transition: $transition;

  &:hover,
  &:focus {
    scale: 110%;
  }
}

.show_more_icon {
  width: 24px;
  height: 24px;
  stroke: $whiteColor;
  fill: none;

  transition: $transition;
}

.hide_more_icon {
  @extend .show_more_icon;
  transform: scale(1, -1);
}

.list {
  position: absolute;
  top: 100%;
  [dir="rtl"] & {
    left: 0;
    right: unset;
  }
  [dir="ltr"] & {
    left: unset;
    right: 0;
  }

  visibility: hidden;
  opacity: 0;

  padding: 8px 0;
  text-align: start;
  background-color: $greenBgButtonBgColor;
  color: $whiteColor;

  transition: $transition;

  @include lg {
    background-color: $headerBgColor;
  }
}

.item {
  padding: 4px 0;
  padding-inline-start: 12px;
  padding-inline-end: 24px;
  cursor: pointer;

  transition: $transition;

  &:hover,
  &:focus {
    scale: 110%;
  }
}

.dropdown {
  visibility: visible;
  opacity: 1;
  z-index: 100;

  transition: $transition;
}
