@import "../../scss";

.section {
  @extend .section;
}

.container {
  @extend .container;
  text-align: right;
}

.list_heading {
  font-size: 16px;
  margin-bottom: 8px;
  text-align: right;

  @include sm {
    font-size: 18px;
  }

  @include md {
    font-size: 20px;
    margin-bottom: 16px;
  }

  @include lg {
    font-size: 24px;
  }

  @include xl {
    font-size: 28px;
  }
}

.item_wrapper {
  margin: 0 8px;
  text-align: center;
}
