@import "../../../scss";

.section {
  @extend .section;
  padding-bottom: 40px;

  @include sm {
    padding-bottom: 44px;
  }

  @include md {
    padding-bottom: 48px;
  }
}

.container {
  @extend .container;
  text-align: center;
}

.heading {
  @extend .heading;
  margin-bottom: 12px;
  text-align: center;

  @include sm {
    margin-bottom: 20px;
  }
  @include md {
    margin-bottom: 32px;
  }
}
