@import "../../../scss";

.footer {
  position: relative;
  margin-top: auto;
  background-color: $footerBgColor;
  color: $whiteColor;
}

.container {
  @extend .container;
}

// topper
.topper {
  @extend .section;
  @extend .flex_aligncenter;
  flex-direction: column;
  gap: 16px;

  @include md {
    flex-direction: row;
    justify-content: center;
  }

  @include lg {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    padding: 28px 0;
  }
}

.navigation_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 8px;
  padding: 0 16px;

  @include md {
    padding: 0;
  }

  @include lg {
    position: relative;

    flex-direction: column-reverse;
    flex-basis: 65%;
    padding: 0 16px;
  }
}

.lists_wrapper {
  @include md {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  @include lg {
    gap: 40px;
  }
}

.socials {
  @extend .flex_aligncenter;
  justify-content: space-between;
  gap: 8px;

  @include md {
    position: absolute;
    bottom: 60px;

    [dir="ltr"] & {
      right: 80px;
      left: unset;
    }
    [dir="rtl"] & {
      left: 80px;
      right: unset;
    }
  }

  @include lg {
    position: absolute;
    bottom: -8px;
    [dir="ltr"] & {
      right: 100px;
      left: unset;
    }
    [dir="rtl"] & {
      left: 100px;
      right: unset;
    }
  }
}

.gallery_heading {
  display: inline-block;
  text-align: start;
  margin-bottom: 8px;
  color: $paleWhiteColor;
  font-size: 10px;

  transition: all 0.4s ease;

  @include sm {
    font-size: 12px;
    font-weight: $boldFont;
  }
  @include md {
    margin-bottom: 16px;
    font-size: 14px;
  }

  &:hover,
  &:focus {
    scale: 110%;
    color: $whiteColor;
  }
}

.gallery_list {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 190px;

  @include md {
    display: flex;
  }

  @include lg {
    width: 280px;
  }
}

// bottom
.bottom {
  padding: 8px 0;
  text-align: center;
  background-color: $darkFooterBgColor;
  font-size: 12px;

  @include sm {
    display: flex;
    justify-content: center;
    gap: 6px;
  }

  @include sm {
    padding: 12px 0;
    font-size: 14px;
  }

  @include md {
    padding: 16px 0;
    font-size: 16px;
  }

  @include lg {
    padding: 24px 0;
  }
}

.copyright {
  color: $paleWhiteColor;
}

.copyright_accent {
  color: $accentColor;
}
