@import "../../../scss";

.footer {
  position: relative;
  margin-top: auto;
  background-color: $footerBgColor;
  color: $whiteColor;
}

.container {
  @extend .container;
}

// topper
.topper {
  @extend .section;
  @extend .flex_aligncenter;
  flex-direction: column;
  gap: 16px;

  @include md {
    flex-direction: row;
    justify-content: center;
  }

  @include lg {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    padding: 28px 0;
  }
}

.navigation_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column-reverse;
  gap: 8px;
  padding: 0 16px;

  @include md {
    padding: 0;
  }

  @include lg {
    position: relative;

    flex-direction: column-reverse;
    flex-basis: 65%;
    padding: 0 16px;
  }
}

.lists_wrapper {
  @include md {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  @include lg {
    gap: 40px;
  }
}

.list {
  @extend .flex_aligncenter;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 12px;

  @include sm {
    justify-content: space-around;
    gap: 20px;
  }

  @include md {
    flex-direction: column;
    justify-content: center;
    gap: 4px;
    margin-bottom: 0;
  }

  @include lg {
    gap: 24px;
  }
}

.item {
  text-align: start;
  color: $paleWhiteColor;
  font-size: 10px;

  transition: all 0.4s ease;

  @include sm {
    font-size: 12px;
    font-weight: $boldFont;
  }
  @include md {
    font-size: 14px;
  }

  &:hover,
  &:focus {
    scale: 110%;
    color: $whiteColor;
  }
}

.socials {
  @extend .flex_aligncenter;
  justify-content: space-between;
  gap: 8px;

  @include md {
    position: absolute;
    bottom: 60px;

    [dir="ltr"] & {
      right: 80px;
      left: unset;
    }
    [dir="rtl"] & {
      left: 80px;
      right: unset;
    }
  }

  @include lg {
    position: absolute;
    bottom: -8px;
    [dir="ltr"] & {
      right: 100px;
      left: unset;
    }
    [dir="rtl"] & {
      left: 100px;
      right: unset;
    }
  }
}

.social_link {
  display: inline-block;
  padding: 8px;

  &:hover,
  &:focus {
    .icon {
      scale: 120%;
      fill: $whiteColor;
    }
  }
}

.icon {
  width: 16px;
  height: 16px;
  fill: $paleWhiteColor;

  transition: all 0.4s ease;

  @include md {
    width: 24px;
    height: 24px;
  }
}

.show_more_button {
  @extend .flex_aligncenter;
  gap: 4px;
  margin: 0 auto 8px auto;
  color: $paleWhiteColor;
  font-size: 10px;
  font-weight: $boldFont;

  transition: all 0.4s ease;

  @include md {
    display: none;
  }

  &:hover,
  &:focus {
    color: $whiteColor;
    scale: 110%;

    .icon {
      stroke: $whiteColor;
      scale: 110%;
    }
  }
}

.show_more_icon {
  @extend .icon;
  stroke: $paleWhiteColor;
  fill: none;
}

.hide_more_icon {
  @extend .show_more_icon;
  transform: scale(1, -1);
}

.gallery_heading {
  display: inline-block;
  text-align: start;
  margin-bottom: 8px;
  color: $paleWhiteColor;
  font-size: 10px;

  transition: all 0.4s ease;

  @include sm {
    font-size: 12px;
    font-weight: $boldFont;
  }
  @include md {
    margin-bottom: 16px;
    font-size: 14px;
  }

  &:hover,
  &:focus {
    scale: 110%;
    color: $whiteColor;
  }
}

.gallery_list {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 4px;
  width: 190px;

  @include md {
    display: flex;
  }

  @include lg {
    width: 280px;
  }
}

.image {
  width: 60px;
  height: 60px;
  border: 1px solid $accentColor;

  @include lg {
    width: 80px;
    height: 80px;
  }
}

.about_wrapper {
  text-align: center;
  padding: 8px;
  max-width: 320px;

  @include md {
    flex-basis: 35%;
    padding: 0;
    text-align: start;
  }

  @include lg {
    padding: 0 40px 0 16px;
  }
}

.about_heading {
  margin-bottom: 4px;
  text-align: center;
  color: $whiteColor;
  font-size: 14px;
  font-weight: $boldFont;

  @include md {
    margin-bottom: 14px;
    text-align: start;
  }
}

.about_descr {
  margin-bottom: 12px;
  text-align: start;
  font-size: 12px;
  color: $paleWhiteColor;
  font-weight: $boldFont;

  @include sm {
    font-size: 14px;
  }

  @include md {
    margin-bottom: 24px;
  }
}

.button {
  padding: 8px 0;
  width: 100px;
  text-align: center;
  font-size: 14px;
  color: $whiteColor;

  transition: all 0.4s ease;

  &:hover,
  &:focus {
    scale: 110%;
    box-shadow: $shadow;
  }
}

.follow_more_button {
  @extend .button;
  display: inline-block;
  margin-inline-end: 8px;
  background-color: $greenBgButtonBgColor;
}

.connect_button {
  @extend .button;
  background-color: $accentColor;
}

.bottom {
  padding: 8px 0;
  text-align: center;
  background-color: $darkFooterBgColor;
  font-size: 12px;

  @include sm {
    display: flex;
    justify-content: center;
    gap: 6px;
  }

  @include sm {
    padding: 12px 0;
    font-size: 14px;
  }

  @include md {
    padding: 16px 0;
    font-size: 16px;
  }

  @include lg {
    padding: 24px 0;
  }
}

.copyright {
  color: $paleWhiteColor;
}

.copyright_accent {
  color: $accentColor;
}
