@import "../../../scss";

.footer {
  position: relative;
  background-color: $footerBgColor;
  color: $whiteColor;
}

.container {
  @extend .container;
}

// topper
.topper {
  @extend .section;
  @extend .flex_aligncenter;
  flex-direction: column-reverse;
  gap: 16px;

  @include lg {
    flex-direction: row;
    padding: 28px 0;
  }
}

.navigation_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  gap: 8px;
  padding: 0 16px;

  @include md {
  }

  @include lg {
    position: relative;

    flex-direction: column-reverse;
    flex-basis: 65%;
  }
}

.show_more_button {
  display: flex;
  gap: 4px;
  color: $paleWhiteColor;
  font-weight: $boldFont;

  transition: all 0.4s ease;

  &:hover,
  &:focus {
    color: $whiteColor;
    scale: 110%;

    .icon {
      fill: $whiteColor;
      scale: 110%;
    }
  }
}

.lists_wrapper {
  @include md {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }
}

.list {
  @extend .flex_aligncenter;
  justify-content: space-between;
  gap: 12px;
  margin-bottom: 12px;

  @include sm {
    justify-content: space-around;
    gap: 20px;
  }

  @include md {
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    margin-bottom: 0;
  }
}

.item {
  text-align: right;
  color: $paleWhiteColor;
  font-size: 10px;

  transition: all 0.4s ease;

  @include sm {
    font-size: 12px;
    font-weight: $boldFont;
  }
  @include md {
    font-size: 14px;
  }

  &:hover,
  &:focus {
    scale: 110%;
    color: $whiteColor;
  }
}

.socials {
  @extend .flex_aligncenter;
  justify-content: space-between;
  gap: 8px;

  @include md {
    position: absolute;
    bottom: 60px;
    left: 180px;
  }

  @include lg {
    position: absolute;
    bottom: -8px;
    left: 100px;
  }
}

.social_link {
  display: inline-block;
  padding: 8px;

  &:hover,
  &:focus {
    .icon {
      scale: 120%;
      fill: $whiteColor;
    }
  }
}

.icon {
  width: 16px;
  height: 16px;
  fill: $paleWhiteColor;

  transition: all 0.4s ease;

  @include md {
    width: 24px;
    height: 24px;
  }
}

.show_more_icon {
  @extend .icon;
  stroke: $paleWhiteColor;
  fill: none;
}

.gallery_heading {
  display: inline-block;
  text-align: right;
  color: $paleWhiteColor;
  font-size: 10px;

  transition: all 0.4s ease;

  @include sm {
    font-size: 12px;
    font-weight: $boldFont;
  }
  @include md {
    margin-bottom: 16px;
    font-size: 14px;
  }

  &:hover,
  &:focus {
    scale: 110%;
    color: $whiteColor;
  }
}

.gallery_list {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  max-width: 280px;

  @include md {
    display: flex;
  }
}

.gallery_item {
  flex-basis: calc((100% - 16px * (3 - 1)) / (3));
}

.image {
  width: 80px;
  height: 80px;
  border: 1px solid $accentColor;
}

.about_wrapper {
  text-align: center;
  padding: 8px;
  max-width: 320px;

  @include md {
    text-align: right;
  }

  @include lg {
    flex-basis: 35%;
    padding: 0 40px 0 16px;
  }
}

.about_heading {
  margin-bottom: 4px;
  text-align: center;
  color: $whiteColor;
  font-size: 10px;
  font-weight: $boldFont;

  @include sm {
    font-size: 12px;
  }

  @include md {
    margin-bottom: 16px;
    text-align: right;
    font-size: 14px;
  }
}

.about_descr {
  margin-bottom: 12px;
  text-align: right;
  font-size: 10px;
  color: $paleWhiteColor;
  font-weight: $boldFont;

  @include sm {
    font-size: 12px;
  }

  @include md {
    margin-bottom: 24px;
    font-size: 14px;
  }
}

.button {
  padding: 8px 0;
  width: 100px;
  text-align: center;
  font-size: 14px;
  color: $whiteColor;

  transition: all 0.4s ease;

  &:hover,
  &:focus {
    scale: 110%;
    box-shadow: $shadow;
  }
}

.follow_more_button {
  @extend .button;
  display: inline-block;
  margin-right: 8px;
  background-color: $greenBgButtonBgColor;
}

.connect_button {
  @extend .button;
  background-color: $accentColor;
}

.bottom {
  padding: 8px 0;
  text-align: center;
  background-color: $darkFooterBgColor;
  font-size: 12px;

  @include sm {
    display: flex;
    justify-content: center;
    gap: 4px;
  }

  @include sm {
    padding: 12px 0;
    font-size: 14px;
  }

  @include md {
    padding: 16px 0;
    font-size: 16px;
  }

  @include lg {
    padding: 24px 0;
  }
}

.copyright {
  color: $paleWhiteColor;
}

.copyright_accent {
  color: $accentColor;
}
