@import "../../scss";

.item {
  max-width: 360px;
  margin: 0 auto;
  text-align: end;
  box-shadow: $shadow;
  border-radius: 16px;

  transition: all 0.4s ease;

  &:hover,
  &:focus {
    box-shadow: $shadowDark;

    .image,
    .preheader,
    .header,
    .course_button {
      scale: 110%;
    }

    .descr {
      color: $darkFontColor;
    }
  }
}

.img_thumb {
  position: relative;
  width: 100%;
  background-color: $lightGreyBgColor;
  border-radius: 16px;
  box-shadow: $shadow;
  overflow: hidden;
}

.image {
  border-radius: 16px;

  transition: all 0.4s ease;
}

.notion {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 10;

  padding: 8px 16px;
  color: $whiteColor;
  font-size: 16px;
  background-color: $fioletBgButtonColor;
  border-radius: 24px;
}

.info_thumb {
  padding: 12px 16px 24px 16px;
  @include sm {
    padding: 16px 24px 24px 24px;
  }
  @include md {
    padding: 24px 32px;
  }
  @include lg {
    padding: 32px 48px;
  }
}

.preheader {
  font-size: 14px;
  color: $accentColor;

  transition: all 0.4s ease;

  @include md {
    font-size: 16px;
  }
  @include lg {
    font-size: 20px;
  }
}

.header {
  font-size: 18px;

  transition: all 0.4s ease;

  @include md {
    font-size: 20px;
  }
  @include lg {
    font-size: 24px;
  }
}

.wrapper {
  @extend .flex_aligncenter;
  justify-content: flex-end;
  gap: 16px;
  margin-bottom: 16px;

  @include md {
    margin-bottom: 20px;
  }
  @include lg {
    margin-bottom: 24px;
  }
}

.descr {
  font-size: 14px;
  color: $secondaryFontColor;

  transition: all 0.4s ease;

  @include md {
    font-size: 16px;
  }
  @include lg {
    font-size: 20px;
  }
}

.course_button {
  display: inline-block;
  padding: 8px 24px;
  border-radius: 28px;
  font-size: 16px;
  color: #007733;
  border: 1px solid $accentColor;

  transition: all 0.4s ease;

  @include md {
    font-size: 16px;
  }
  @include lg {
    font-size: 20px;
  }

  &:hover,
  &:focus {
    background-color: $accentColor;
    color: $darkFontColor;
    box-shadow: $shadow;

    .glyph {
      color: $darkFontColor;
    }
  }
}

.glyph {
  margin-left: 8px;
  color: $accentColor;

  transition: all 0.4s ease;
}
