@import "../../../scss";

.section {
  @extend .section;
  background-color: $purpleCategoryAccent;
}

.container {
  @extend .container;
  text-align: center;
}

.heading {
  @extend .heading;

  margin-bottom: 12px;
  font-weight: $boldFont;
  color: $whiteColor;
}

.list {
  @extend .flex_aligncenter;
  justify-content: space-around;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
  color: $whiteColor;

  @include md {
    flex-direction: row;
    font-size: 18px;
  }

  @include lg {
    font-size: 20px;
  }
}

.item_heading {
  @extend .flex_aligncenter;
  gap: 4px;
}

.icon {
  width: 20px;
  height: 20px;
  stroke: $whiteColor;
  fill: none;
}
