@import "../../../scss";

.wrapper {
  @extend .flex_aligncenter;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  min-width: 300px;

  @include md {
    min-width: 240px;
  }

  @include lg {
    min-width: 300px;
  }
}

.container {
  width: 100%;
  padding: 16px;
  background-color: $lightGreyBgColor;
  text-align: start;

  @include lg {
    padding: 32px;
  }
}

.heading {
  margin-bottom: 4px;
  text-align: start;
  color: $secondaryFontColor;
  font-size: 14px;
}

// articles
.articles_item {
  padding: 20px 0;

  &:not(:last-child) {
    border-bottom: 2px solid $whiteColor;
  }

  &:hover,
  &:focus {
    .articles_title {
      scale: 120%;
    }

    .articles_image_wrapper,
    .articles_image {
      scale: 105%;
    }
  }
}

.articles_link {
  @extend .flex_aligncenter;
  justify-content: flex-start;
  gap: 12px;
}

.articles_title {
  font-size: 16px;

  transition: all 0.4s ease;
}

.articles_image_wrapper {
  width: 80px;
  height: 80px;
  background-color: $darkBgButtonColor;
  overflow: hidden;

  transition: all 0.4s ease;
}

.articles_image {
  width: 80px;

  transition: all 0.4s ease;
}

// keywords
.keywords_list {
  @extend .flex_aligncenter;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 12px;
}

.keywords_item {
  padding: 4px 8px;
  background-color: $whiteColor;
  color: $secondaryFontColor;
  font-weight: $boldFont;

  transition: all 0.4s ease;

  &:hover,
  &:focus {
    background-color: $accentColor;
    color: $whiteColor;
    scale: 105%;
    box-shadow: $shadow;
  }

  a {
    transition: all 0.4s ease;
  }
}

// topics
.topics_list {
  margin-top: 12px;
}

.topics_item {
  text-align: start;
  color: $secondaryFontColor;
  font-size: 14px;
  font-weight: $boldFont;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  transition: all 0.4s ease;

  &:hover,
  &:focus {
    color: $darkFontColor;
    scale: 105%;
    transform-origin: right;
  }

  a {
    transition: all 0.4s ease;
  }
}
