@import "../../../scss";

// heading_section
.heading_section {
  @extend .section;
  position: relative;
  text-align: center;
  background-color: $blueBgColor;
  color: $whiteColor;
}

.heading {
  @extend .heading;
}

.triangle {
  position: absolute;
  bottom: -48px;
  right: 50%;
  z-index: 10;
  transform: translateX(50%);

  background-color: $blueBgColor;
  clip-path: polygon(100% 0, 0 0, 50% 100%);
  width: 200px;
  height: 50px;

  @include md {
    bottom: -68px;
    width: 300px;
    height: 70px;
  }
}

// courses section
.courses_section {
  padding: 44px 0 40px 0;

  @include sm {
    padding: 60px 0 40px 0;
  }

  @include md {
    padding: 80px 0 40px 0;
  }
}

// learn more section
.learn_more_section {
  @extend .section;
  text-align: center;
  color: $whiteColor;
  background-color: $greenBgColor;
}

.learn_more_heading {
  @extend .heading;
  margin-bottom: 12px;

  @include sm {
    margin-bottom: 16px;
  }
  @include md {
    margin-bottom: 24px;
  }
}

.learn_more_button {
  display: inline-block;
  padding: 12px 28px;
  font-size: 16px;
  font-weight: $boldFont;
  color: $whiteColor;
  background-color: $footerBgColor;

  transition: all 0.4s ease;

  @include md {
    font-size: 20px;
    padding: 12px 36px;
  }
  @include lg {
    font-size: 24px;
    padding: 16px 44px;
  }

  &:hover,
  &:focus {
    scale: 110%;
    box-shadow: $shadow;
  }
}
